@import "tailwindcss";
@import "@ngrok/mantle/mantle.css";

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("https://assets.ngrok.com/fonts/inter/Inter-VariableFont.ttf")
		format("truetype");
	font-optical-sizing: auto;
}

@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url("https://assets.ngrok.com/fonts/inter/Inter-Italic-VariableFont.ttf")
		format("truetype");
	font-optical-sizing: auto;
}

@theme {
	--font-body: "Inter", ui-sans-serif, system-ui, sans-serif;
	--max-width-prose: 68ch;
}
