/* // Euclid Square */

@font-face {
	font-family: EuclidSquare;
	font-style: normal;
	font-weight: normal;
	src: url("./euclid-square/EuclidSquare-Regular-WebS.woff") format("woff");
}

@font-face {
	font-family: EuclidSquare;
	font-style: italic;
	font-weight: normal;
	src: url("./euclid-square/EuclidSquare-RegularItalic-WebS.woff") format("woff");
}

@font-face {
	font-family: EuclidSquare;
	font-style: normal;
	font-weight: 500;
	src: url("./euclid-square/EuclidSquare-Medium-WebS.woff") format("woff");
}

@font-face {
	font-family: EuclidSquare;
	font-style: italic;
	font-weight: 500;
	src: url("./euclid-square/EuclidSquare-MediumItalic-WebS.woff") format("woff");
}
