/**
MARK: LIGHT HICON DEFS
*/
:root.light-high-contrast,
:root[data-theme="light-high-contrast"],
:root[data-applied-theme="light-high-contrast"] {
	color-scheme: light;

	--color-white: oklch(100% 0 0);
	--color-black: oklch(0% 0 0);

	--color-amber-50: oklch(98.69% 0.0214 95.28);
	--color-amber-100: oklch(96.21% 0.0568 95.34);
	--color-amber-200: oklch(92.44% 0.1141 95.61);
	--color-amber-300: oklch(66.85% 0.1591 57.71);
	--color-amber-400: oklch(61.66% 0.1484 56.44);
	--color-amber-500: oklch(57.03% 0.1353 57.46);
	--color-amber-600: oklch(50.82% 0.1228 55.67);
	--color-amber-700: oklch(45.75% 0.1111 54.71);
	--color-amber-800: oklch(40.02% 0.0994 51.99);
	--color-amber-900: oklch(34.78% 0.0885 49.71);
	--color-amber-950: oklch(27.91% 0.0742 45.64);

	--color-blue-50: oklch(96.93% 0.0144 264.5);
	--color-blue-100: oklch(92.67% 0.0335 265.23);
	--color-blue-200: oklch(86.38% 0.0634 266.33);
	--color-blue-300: oklch(52.06% 0.2291 266.66);
	--color-blue-400: oklch(48.59% 0.2129 266.83);
	--color-blue-500: oklch(45.24% 0.1896 267.12);
	--color-blue-600: oklch(41.41% 0.1721 267.91);
	--color-blue-700: oklch(38.56% 0.1572 268.24);
	--color-blue-800: oklch(34.3% 0.1387 269.88);
	--color-blue-900: oklch(30.63% 0.1169 271.21);
	--color-blue-950: oklch(26.62% 0.0958 273.12);

	--color-cyan-50: oklch(98.34% 0.0199 200.65);
	--color-cyan-100: oklch(95.5% 0.0463 203.07);
	--color-cyan-200: oklch(91.93% 0.077 204.04);
	--color-cyan-300: oklch(60% 0.1096 222.18);
	--color-cyan-400: oklch(57.53% 0.1046 222.03);
	--color-cyan-500: oklch(52.68% 0.0976 224.87);
	--color-cyan-600: oklch(47.79% 0.0871 223.7);
	--color-cyan-700: oklch(45.16% 0.0818 223.61);
	--color-cyan-800: oklch(39.2% 0.0707 225.19);
	--color-cyan-900: oklch(34.49% 0.0628 228.83);
	--color-cyan-950: oklch(30.18% 0.0541 229.7);

	--color-emerald-50: oklch(98% 0.0198 164.6);
	--color-emerald-100: oklch(95.05% 0.0507 163.05);
	--color-emerald-200: oklch(90.36% 0.0917 164);
	--color-emerald-300: oklch(59% 0.1266 162.94);
	--color-emerald-400: oklch(56.13% 0.1183 164.14);
	--color-emerald-500: oklch(51.39% 0.1073 164.59);
	--color-emerald-600: oklch(45.57% 0.095 164.64);
	--color-emerald-700: oklch(40.91% 0.0828 166.45);
	--color-emerald-800: oklch(36.06% 0.0721 166.8);
	--color-emerald-900: oklch(31.06% 0.0603 168.82);
	--color-emerald-950: oklch(26.21% 0.0487 172.55);

	--color-fuchsia-50: oklch(97.92% 0.0156 319.45);
	--color-fuchsia-100: oklch(94.56% 0.0405 318.38);
	--color-fuchsia-200: oklch(90.66% 0.0698 319.3);
	--color-fuchsia-300: oklch(59.06% 0.2558 322.58);
	--color-fuchsia-400: oklch(55.99% 0.243 323.42);
	--color-fuchsia-500: oklch(51.55% 0.2228 323.54);
	--color-fuchsia-600: oklch(46.96% 0.2044 323.38);
	--color-fuchsia-700: oklch(42.63% 0.1857 324.02);
	--color-fuchsia-800: oklch(37.8% 0.1648 324.33);
	--color-fuchsia-900: oklch(34.08% 0.1487 324.91);
	--color-fuchsia-950: oklch(29.32% 0.1309 325.66);

	--color-neutral-50: oklch(98.46% 0 0);
	--color-neutral-100: oklch(96.7% 0 0);
	--color-neutral-200: oklch(91.88% 0 0);
	--color-neutral-300: oklch(44.47% 0 0);
	--color-neutral-400: oklch(41.87% 0 0);
	--color-neutral-500: oklch(38.18% 0 0);
	--color-neutral-600: oklch(34.89% 0 0);
	--color-neutral-700: oklch(32.11% 0 0);
	--color-neutral-800: oklch(28.42% 0 0);
	--color-neutral-900: oklch(25.22% 0 0);
	--color-neutral-950: oklch(18.2% 0 0);

	--color-gray-50: oklch(98.46% 0 0);
	--color-gray-100: oklch(96.7% 0 0);
	--color-gray-200: oklch(91.88% 0 0);
	--color-gray-300: oklch(44.47% 0 0);
	--color-gray-400: oklch(41.87% 0 0);
	--color-gray-500: oklch(38.18% 0 0);
	--color-gray-600: oklch(34.89% 0 0);
	--color-gray-700: oklch(32.11% 0 0);
	--color-gray-800: oklch(28.42% 0 0);
	--color-gray-900: oklch(25.22% 0 0);
	--color-gray-950: oklch(18.2% 0 0);

	--color-green-50: oklch(98.37% 0.0156 154.48);
	--color-green-100: oklch(96.43% 0.0401 157.79);
	--color-green-200: oklch(92.5% 0.0806 155.99);
	--color-green-300: oklch(62.42% 0.1695 149.09);
	--color-green-400: oklch(58.44% 0.1577 149.27);
	--color-green-500: oklch(53.22% 0.1423 149.43);
	--color-green-600: oklch(48.17% 0.1269 149.9);
	--color-green-700: oklch(43.92% 0.1141 150.27);
	--color-green-800: oklch(38.29% 0.0971 150.74);
	--color-green-900: oklch(32.44% 0.0796 151.64);
	--color-green-950: oklch(26.64% 0.0628 152.93);

	--color-indigo-50: oklch(96.54% 0.0164 274.82);
	--color-indigo-100: oklch(93.19% 0.0324 270.45);
	--color-indigo-200: oklch(87.26% 0.0608 273.82);
	--color-indigo-300: oklch(51.42% 0.2277 277.01);
	--color-indigo-400: oklch(47.58% 0.2121 277.73);
	--color-indigo-500: oklch(44.46% 0.192 277.27);
	--color-indigo-600: oklch(40.46% 0.1735 277.67);
	--color-indigo-700: oklch(37.37% 0.1525 279.29);
	--color-indigo-800: oklch(33.56% 0.1301 279.57);
	--color-indigo-900: oklch(30.02% 0.1109 280.12);
	--color-indigo-950: oklch(25.73% 0.0861 281.29);

	--color-lime-50: oklch(98.57% 0.031 120.76);
	--color-lime-100: oklch(96.6% 0.0674 122.92);
	--color-lime-200: oklch(93.86% 0.1195 124.58);
	--color-lime-300: oklch(65.38% 0.1773 131.75);
	--color-lime-400: oklch(59.54% 0.1599 131.58);
	--color-lime-500: oklch(55.31% 0.1484 131.54);
	--color-lime-600: oklch(49.69% 0.1335 132.06);
	--color-lime-700: oklch(44.98% 0.1196 131.89);
	--color-lime-800: oklch(38.81% 0.1016 131.94);
	--color-lime-900: oklch(33.85% 0.0859 131.11);
	--color-lime-950: oklch(27.41% 0.0688 132.11);

	--color-orange-50: oklch(97.72% 0.0175 73.08);
	--color-orange-100: oklch(95.44% 0.0361 74.07);
	--color-orange-200: oklch(89.93% 0.0737 69.97);
	--color-orange-300: oklch(64.57% 0.1926 41.56);
	--color-orange-400: oklch(59.99% 0.1802 40.94);
	--color-orange-500: oklch(54.96% 0.1638 41.1);
	--color-orange-600: oklch(49.21% 0.1464 40.57);
	--color-orange-700: oklch(43.91% 0.129 40.63);
	--color-orange-800: oklch(38.12% 0.1107 40.2);
	--color-orange-900: oklch(33.37% 0.0976 38.64);
	--color-orange-950: oklch(27.13% 0.0777 36.76);

	--color-pink-50: oklch(97.14% 0.0141 343.2);
	--color-pink-100: oklch(95.04% 0.0267 340.86);
	--color-pink-200: oklch(90.12% 0.0572 343.69);
	--color-pink-300: oklch(59.35% 0.2171 359.98);
	--color-pink-400: oklch(55.14% 0.2029 0.04);
	--color-pink-500: oklch(50.92% 0.1877 0.21);
	--color-pink-600: oklch(46.43% 0.1699 1.3);
	--color-pink-700: oklch(42.86% 0.1582 1.12);
	--color-pink-800: oklch(37.96% 0.1388 2.32);
	--color-pink-900: oklch(33.33% 0.1223 2.22);
	--color-pink-950: oklch(28.45% 0.1048 3.91);

	--color-purple-50: oklch(97.68% 0.0142 308.3);
	--color-purple-100: oklch(93.99% 0.0373 308.02);
	--color-purple-200: oklch(90.51% 0.0591 307.22);
	--color-purple-300: oklch(55.72% 0.2514 301.9);
	--color-purple-400: oklch(52.38% 0.238 302.9);
	--color-purple-500: oklch(48.72% 0.223 302.76);
	--color-purple-600: oklch(44.77% 0.2083 302.23);
	--color-purple-700: oklch(40.96% 0.1926 301.98);
	--color-purple-800: oklch(37.23% 0.176 303.11);
	--color-purple-900: oklch(33.24% 0.1594 302.9);
	--color-purple-950: oklch(29.2% 0.1434 303.45);

	--color-red-50: oklch(96.83% 0.014 17.4);
	--color-red-100: oklch(93.35% 0.032 17.74);
	--color-red-200: oklch(88.04% 0.0617 18.39);
	--color-red-300: oklch(57.85% 0.2138 27.17);
	--color-red-400: oklch(53.65% 0.1984 27.19);
	--color-red-500: oklch(48.61% 0.179 27.11);
	--color-red-600: oklch(44.29% 0.1621 27.01);
	--color-red-700: oklch(40.54% 0.1469 26.85);
	--color-red-800: oklch(35.81% 0.128 26.62);
	--color-red-900: oklch(31.14% 0.1094 26.35);
	--color-red-950: oklch(25.32% 0.0862 25.9);

	--color-rose-50: oklch(96.72% 0.0163 12.78);
	--color-rose-100: oklch(94.35% 0.0286 12.36);
	--color-rose-200: oklch(89.24% 0.0559 10);
	--color-rose-300: oklch(58.77% 0.2229 17.68);
	--color-rose-400: oklch(54.29% 0.2051 17.36);
	--color-rose-500: oklch(50.03% 0.1891 17.48);
	--color-rose-600: oklch(45.6% 0.1714 16.29);
	--color-rose-700: oklch(41.72% 0.1554 14.87);
	--color-rose-800: oklch(36.95% 0.1373 14.44);
	--color-rose-900: oklch(32.26% 0.1196 13.36);
	--color-rose-950: oklch(27.3% 0.1018 12.45);

	--color-sky-50: oklch(97.71% 0.0125 236.62);
	--color-sky-100: oklch(95.41% 0.0242 234.42);
	--color-sky-200: oklch(89.93% 0.0555 232.63);
	--color-sky-300: oklch(58.65% 0.1366 241.18);
	--color-sky-400: oklch(54.32% 0.1295 242.71);
	--color-sky-500: oklch(50.93% 0.1199 242.17);
	--color-sky-600: oklch(47.5% 0.1101 241.61);
	--color-sky-700: oklch(42.16% 0.0994 243.2);
	--color-sky-800: oklch(38.5% 0.0876 242.1);
	--color-sky-900: oklch(34.57% 0.0774 242.71);
	--color-sky-950: oklch(29.35% 0.0632 243.16);

	--color-teal-50: oklch(98.5% 0.0122 178.03);
	--color-teal-100: oklch(95.17% 0.0511 179.64);
	--color-teal-200: oklch(90.92% 0.0939 179.75);
	--color-teal-300: oklch(60.65% 0.1045 185.63);
	--color-teal-400: oklch(56.49% 0.0971 185.67);
	--color-teal-500: oklch(51.94% 0.0889 185.65);
	--color-teal-600: oklch(47.68% 0.0805 187.93);
	--color-teal-700: oklch(43.21% 0.0727 187.02);
	--color-teal-800: oklch(37.35% 0.062 188.52);
	--color-teal-900: oklch(32.36% 0.0523 192.94);
	--color-teal-950: oklch(27.73% 0.0447 192.52);

	--color-violet-50: oklch(97.38% 0.0133 290.76);
	--color-violet-100: oklch(93.79% 0.0311 293.77);
	--color-violet-200: oklch(89.7% 0.0535 293.52);
	--color-violet-300: oklch(54.24% 0.2456 292.91);
	--color-violet-400: oklch(50.72% 0.232 292.85);
	--color-violet-500: oklch(47.26% 0.2152 292.75);
	--color-violet-600: oklch(43.71% 0.2002 292.54);
	--color-violet-700: oklch(40% 0.1837 292.52);
	--color-violet-800: oklch(36.31% 0.168 292.22);
	--color-violet-900: oklch(32.3% 0.1507 291.47);
	--color-violet-950: oklch(28.27% 0.1351 291.09);

	--color-yellow-50: oklch(98.7% 0.0275 102.45);
	--color-yellow-100: oklch(97.29% 0.0693 103.19);
	--color-yellow-200: oklch(94.52% 0.1233 101.47);
	--color-yellow-300: oklch(67.83% 0.1413 76.76);
	--color-yellow-400: oklch(63.23% 0.1324 74.78);
	--color-yellow-500: oklch(57.55% 0.1208 73.59);
	--color-yellow-600: oklch(51.72% 0.1087 71.94);
	--color-yellow-700: oklch(46.95% 0.1005 67.89);
	--color-yellow-800: oklch(41.01% 0.088 65.87);
	--color-yellow-900: oklch(34.81% 0.0762 60.53);
	--color-yellow-950: oklch(28.4% 0.0628 54.65);

	--background-color-base: var(--color-neutral-50);
	--background-color-card: var(--color-white);
	--background-color-popover: var(--color-white);
	--background-color-dialog: var(--color-white);
	--background-color-base-hover: var(--color-neutral-100);
	--background-color-card-hover: var(--color-neutral-100);
	--background-color-popover-hover: var(--color-neutral-100);
	--background-color-dialog-hover: var(--color-neutral-100);
	--background-color-form: var(--color-white);
	--background-color-form-hover: --alpha(var(--color-neutral-500) / 0.05);
	--background-color-form-active: --alpha(var(--color-neutral-500) / 0.1);
	--background-color-overlay: --alpha(#000 / 0.12);

	--border-color-base: var(--color-neutral-300);
	--border-color-card: var(--color-neutral-300);
	--border-color-popover: var(--color-neutral-300);
	--border-color-dialog: var(--color-neutral-300);
	--border-color-base-muted: var(--color-neutral-300);
	--border-color-card-muted: var(--color-neutral-300);
	--border-color-popover-muted: var(--color-neutral-300);
	--border-color-dialog-muted: var(--color-neutral-300);
	--border-color-form: var(--color-neutral-300);

	--divide-color-card: var(--color-neutral-300);
	--divide-color-card-muted: var(--color-neutral-200);

	--color-card-border: var(--color-neutral-300);
	--color-card-border-muted: var(--color-neutral-300);

	--color-active-menu-item: var(--color-neutral-100);
	--color-selected-menu-item: var(--color-accent-50);
	--color-active-selected-menu-item: var(--color-accent-100);

	--text-color-strong: var(--color-black);
	--text-color-body: var(--color-neutral-950);
	--text-color-muted: --alpha(var(--color-black) / 0.75);
	--text-color-placeholder: --alpha(var(--color-black) / 0.5);
	--text-color-on-filled: #fff;

	/* Theme tokens */
	--background-color-filled-neutral: var(--color-neutral-500);
	--background-color-filled-accent: var(--color-accent-500);
	--background-color-filled-danger: var(--color-danger-500);
	--background-color-filled-warning: var(--color-warning-500);
	--background-color-filled-success: var(--color-success-500);

	--background-color-filled-neutral-hover: var(--color-neutral-600);
	--background-color-filled-accent-hover: var(--color-accent-600);
	--background-color-filled-danger-hover: var(--color-danger-600);
	--background-color-filled-warning-hover: var(--color-warning-600);
	--background-color-filled-success-hover: var(--color-success-600);

	/* Focus tokens */
	--ring-color-focus-neutral: --alpha(var(--color-neutral-500) / 0.3);
	--ring-color-focus-accent: --alpha(var(--color-accent-500) / 0.3);
	--ring-color-focus-danger: --alpha(var(--color-danger-500) / 0.3);
	--ring-color-focus-warning: --alpha(var(--color-warning-500) / 0.3);
	--ring-color-focus-success: --alpha(var(--color-success-500) / 0.3);

	--shadow-color: #000;
	--shadow-first-opacity: 15%;
	--shadow-second-opacity: 20%;
	--navigation-shadow: --alpha(var(--shadow-color) / 30%);
}
