---
import PageLayout from "../../layouts/PageLayout.astro";
import { Prism } from "@astrojs/prism";
import { Input } from "../../components/mantle/input";
---

<PageLayout title="Input">
	<h1 class="text-5xl">Input</h1>
	<p class="text-gray-600 text-xl mt-4">Fundamental component for inputs.</p>
	<div class="mt-4 bg-background border-gray-200 border rounded-lg p-9 flex items-center justify-center">
		<Input placeholder="Enter a username" />
	</div>
	<Prism class="mt-4" is:raw lang="tsx" code={`<Input placeholder="Enter a username" />`} />
</PageLayout>
