@import url("https://cdn.ngrok.com/static/fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * provide an a11y escape hatch for those that prefer less motion
 */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

:root {
	/* ngrok custom blue (600 is current button)
	* These are required as they are referenced by both light and dark modes.
	* Replaces the Tailwind blue and a single value of gray.
	* Not to be used directly.
	*/
	color-scheme: light;

	--ngrok-blue-50: 221 100% 97%;
	--ngrok-blue-100: 221 95% 93%;
	--ngrok-blue-200: 220 94% 87%;
	--ngrok-blue-300: 219 95% 78%;
	--ngrok-blue-400: 220 96% 70%;
	--ngrok-blue-500: 224 89% 60%;
	--ngrok-blue-600: 228 82% 55%;
	--ngrok-blue-700: 231 75% 48%;
	--ngrok-blue-800: 232 70% 40%;
	--ngrok-blue-900: 232 63% 33%;
	--ngrok-blue-950: 234 55% 21%;

	/* ngrok purple tinted grayscale (based on tw-zinc) */

	--ngrok-grayple-50: 216 18% 98%;
	--ngrok-grayple-100: 218 16% 95.9%;
	--ngrok-grayple-200: 220 14% 90%;
	--ngrok-grayple-300: 222 12% 83.9%;
	--ngrok-grayple-400: 224 10% 64.9%;
	--ngrok-grayple-500: 226 08% 46.5%;
	--ngrok-grayple-600: 228 11% 34.9%;
	--ngrok-grayple-700: 230 14% 27.1%;
	--ngrok-grayple-800: 232 16% 21%;
	--ngrok-grayple-900: 234 18% 17%;
	--ngrok-grayple-950: 236 20% 11.5%;

	/**
	* Tailwind palette.
	* These are required as they are referenced by both light and dark modes.
	* Not to be used directly.
	*/

	--tw-black: 0 0% 0%;
	--tw-white: 0 0% 100%;

	--tw-red-50: 0 85.7% 97.3%;
	--tw-red-100: 0 93.3% 94.1%;
	--tw-red-200: 0 96.3% 89.4%;
	--tw-red-300: 0 93.5% 81.8%;
	--tw-red-400: 0 90.6% 70.8%;
	--tw-red-500: 0 84.2% 60.2%;
	--tw-red-600: 0 72.2% 50.6%;
	--tw-red-700: 0 73.7% 41.8%;
	--tw-red-800: 0 70% 35.3%;
	--tw-red-900: 0 62.8% 30.6%;
	--tw-red-950: 0 74.7% 15.5%;

	--tw-orange-50: 33.3 100% 96.5%;
	--tw-orange-100: 34.3 100% 91.8%;
	--tw-orange-200: 32.1 97.7% 83.1%;
	--tw-orange-300: 30.7 97.2% 72.4%;
	--tw-orange-400: 27 96% 61%;
	--tw-orange-500: 24.6 95% 53.1%;
	--tw-orange-600: 20.5 90.2% 48.2%;
	--tw-orange-700: 17.5 88.3% 40.4%;
	--tw-orange-800: 15 79.1% 33.7%;
	--tw-orange-900: 15.3 74.6% 27.8%;
	--tw-orange-950: 13 81.1% 14.5%;

	--tw-amber-50: 48 100% 96.1%;
	--tw-amber-100: 48 96.5% 88.8%;
	--tw-amber-200: 48 96.6% 76.7%;
	--tw-amber-300: 45.9 96.7% 64.5%;
	--tw-amber-400: 43.3 96.4% 56.3%;
	--tw-amber-500: 37.7 92.1% 50.2%;
	--tw-amber-600: 32.1 94.6% 43.7%;
	--tw-amber-700: 26 90.5% 37.1%;
	--tw-amber-800: 22.7 82.5% 31.4%;
	--tw-amber-900: 21.7 77.8% 26.5%;
	--tw-amber-950: 20.9 91.7% 14.1%;

	--tw-yellow-50: 54.5 91.7% 95.3%;
	--tw-yellow-100: 54.9 96.7% 88%;
	--tw-yellow-200: 52.8 98.3% 76.9%;
	--tw-yellow-300: 50.4 97.8% 63.5%;
	--tw-yellow-400: 47.9 95.8% 53.1%;
	--tw-yellow-500: 45.4 93.4% 47.5%;
	--tw-yellow-600: 40.6 96.1% 40.4%;
	--tw-yellow-700: 35.5 91.7% 32.9%;
	--tw-yellow-800: 31.8 81% 28.8%;
	--tw-yellow-900: 28.4 72.5% 25.7%;
	--tw-yellow-950: 26 83.3% 14.1%;

	--tw-lime-50: 78.3 92% 95.1%;
	--tw-lime-100: 79.6 89.1% 89.2%;
	--tw-lime-200: 80.9 88.5% 79.6%;
	--tw-lime-300: 82 84.5% 67.1%;
	--tw-lime-400: 82.7 78% 55.5%;
	--tw-lime-500: 83.7 80.5% 44.3%;
	--tw-lime-600: 84.8 85.2% 34.5%;
	--tw-lime-700: 85.9 78.4% 27.3%;
	--tw-lime-800: 86.3 69% 22.7%;
	--tw-lime-900: 87.6 61.2% 20.2%;
	--tw-lime-950: 89.3 80.4% 10%;

	--tw-green-50: 138.5 76.5% 96.7%;
	--tw-green-100: 140.6 84.2% 92.5%;
	--tw-green-200: 141 78.9% 85.1%;
	--tw-green-300: 141.7 76.6% 73.1%;
	--tw-green-400: 141.9 69.2% 58%;
	--tw-green-500: 142.1 70.6% 45.3%;
	--tw-green-600: 142.1 76.2% 36.3%;
	--tw-green-700: 142.4 71.8% 29.2%;
	--tw-green-800: 142.8 64.2% 24.1%;
	--tw-green-900: 143.8 61.2% 20.2%;
	--tw-green-950: 144.9 80.4% 10%;

	--tw-emerald-50: 151.8 81% 95.9%;
	--tw-emerald-100: 149.3 80.4% 90%;
	--tw-emerald-200: 152.4 76% 80.4%;
	--tw-emerald-300: 156.2 71.6% 66.9%;
	--tw-emerald-400: 158.1 64.4% 51.6%;
	--tw-emerald-500: 160.1 84.1% 39.4%;
	--tw-emerald-600: 161.4 93.5% 30.4%;
	--tw-emerald-700: 162.9 93.5% 24.3%;
	--tw-emerald-800: 163.1 88.1% 19.8%;
	--tw-emerald-900: 164.2 85.7% 16.5%;
	--tw-emerald-950: 165.7 91.3% 9%;

	--tw-teal-50: 166.2 76.5% 96.7%;
	--tw-teal-100: 167.2 85.5% 89.2%;
	--tw-teal-200: 168.4 83.8% 78.2%;
	--tw-teal-300: 170.6 76.9% 64.3%;
	--tw-teal-400: 172.5 66% 50.4%;
	--tw-teal-500: 173.4 80.4% 40%;
	--tw-teal-600: 174.7 83.9% 31.6%;
	--tw-teal-700: 175.3 77.4% 26.1%;
	--tw-teal-800: 176.1 69.4% 21.8%;
	--tw-teal-900: 175.9 60.8% 19%;
	--tw-teal-950: 178.6 84.3% 10%;

	--tw-cyan-50: 183.2 100% 96.3%;
	--tw-cyan-100: 185.1 95.9% 90.4%;
	--tw-cyan-200: 186.2 93.5% 81.8%;
	--tw-cyan-300: 187 92.4% 69%;
	--tw-cyan-400: 187.9 85.7% 53.3%;
	--tw-cyan-500: 188.7 94.5% 42.7%;
	--tw-cyan-600: 191.6 91.4% 36.5%;
	--tw-cyan-700: 192.9 82.3% 31%;
	--tw-cyan-800: 194.4 69.6% 27.1%;
	--tw-cyan-900: 196.4 63.6% 23.7%;
	--tw-cyan-950: 197 78.9% 14.9%;

	--tw-sky-50: 204 100% 97.1%;
	--tw-sky-100: 204 93.8% 93.7%;
	--tw-sky-200: 200.6 94.4% 86.1%;
	--tw-sky-300: 199.4 95.5% 73.9%;
	--tw-sky-400: 198.4 93.2% 59.6%;
	--tw-sky-500: 198.6 88.7% 48.4%;
	--tw-sky-600: 200.4 98% 39.4%;
	--tw-sky-700: 201.3 96.3% 32.2%;
	--tw-sky-800: 201 90% 27.5%;
	--tw-sky-900: 202 80.3% 23.9%;
	--tw-sky-950: 204 80.2% 15.9%;

	--tw-indigo-50: 225.9 100% 96.7%;
	--tw-indigo-100: 226.5 100% 93.9%;
	--tw-indigo-200: 228 96.5% 88.8%;
	--tw-indigo-300: 229.7 93.5% 81.8%;
	--tw-indigo-400: 234.5 89.5% 73.9%;
	--tw-indigo-500: 238.7 83.5% 66.7%;
	--tw-indigo-600: 243.4 75.4% 58.6%;
	--tw-indigo-700: 244.5 57.9% 50.6%;
	--tw-indigo-800: 243.7 54.5% 41.4%;
	--tw-indigo-900: 242.2 47.4% 34.3%;
	--tw-indigo-950: 243.8 47.1% 20%;
	--tw-violet-50: 250 100% 97.6%;

	--tw-violet-100: 251.4 91.3% 95.5%;
	--tw-violet-200: 250.5 95.2% 91.8%;
	--tw-violet-300: 252.5 94.7% 85.1%;
	--tw-violet-400: 255.1 91.7% 76.3%;
	--tw-violet-500: 258.3 89.5% 66.3%;
	--tw-violet-600: 262.1 83.3% 57.8%;
	--tw-violet-700: 263.4 70% 50.4%;
	--tw-violet-800: 263.4 69.3% 42.2%;
	--tw-violet-900: 263.5 67.4% 34.9%;
	--tw-violet-950: 261.2 72.6% 22.9%;

	--tw-purple-50: 270 100% 98%;
	--tw-purple-100: 268.7 100% 95.5%;
	--tw-purple-200: 268.6 100% 91.8%;
	--tw-purple-300: 269.2 97.4% 85.1%;
	--tw-purple-400: 270 95.2% 75.3%;
	--tw-purple-500: 270.7 91% 65.1%;
	--tw-purple-600: 271.5 81.3% 55.9%;
	--tw-purple-700: 272.1 71.7% 47.1%;
	--tw-purple-800: 272.9 67.2% 39.4%;
	--tw-purple-900: 273.6 65.6% 32%;
	--tw-purple-950: 273.5 86.9% 21%;

	--tw-fuchsia-50: 289.1 100% 97.8%;
	--tw-fuchsia-100: 287 100% 95.5%;
	--tw-fuchsia-200: 288.3 95.8% 90.6%;
	--tw-fuchsia-300: 291.1 93.1% 82.9%;
	--tw-fuchsia-400: 292 91.4% 72.5%;
	--tw-fuchsia-500: 292.2 84.1% 60.6%;
	--tw-fuchsia-600: 293.4 69.5% 48.8%;
	--tw-fuchsia-700: 294.7 72.4% 39.8%;
	--tw-fuchsia-800: 295.4 70.2% 32.9%;
	--tw-fuchsia-900: 296.7 63.6% 28%;
	--tw-fuchsia-950: 296.8 90.2% 16.1%;

	--tw-pink-50: 327.3 73.3% 97.1%;
	--tw-pink-100: 325.7 77.8% 94.7%;
	--tw-pink-200: 325.9 84.6% 89.8%;
	--tw-pink-300: 327.4 87.1% 81.8%;
	--tw-pink-400: 328.6 85.5% 70.2%;
	--tw-pink-500: 330.4 81.2% 60.4%;
	--tw-pink-600: 333.3 71.4% 50.6%;
	--tw-pink-700: 335.1 77.6% 42%;
	--tw-pink-800: 335.8 74.4% 35.3%;
	--tw-pink-900: 335.9 69% 30.4%;
	--tw-pink-950: 336.2 83.9% 17.1%;

	--tw-rose-50: 355.7 100% 97.3%;
	--tw-rose-100: 355.6 100% 94.7%;
	--tw-rose-200: 352.7 96.1% 90%;
	--tw-rose-300: 352.6 95.7% 81.8%;
	--tw-rose-400: 351.3 94.5% 71.4%;
	--tw-rose-500: 349.7 89.2% 60.2%;
	--tw-rose-600: 346.8 77.2% 49.8%;
	--tw-rose-700: 345.3 82.7% 40.8%;
	--tw-rose-800: 343.4 79.7% 34.7%;
	--tw-rose-900: 341.5 75.5% 30.4%;
	--tw-rose-950: 343.1 87.7% 15.9%;

	/* mantle palette */

	--black: var(--tw-black);
	--white: var(--tw-white);

	--gray-50: var(--ngrok-grayple-50);
	--gray-100: var(--ngrok-grayple-100);
	--gray-200: var(--ngrok-grayple-200);
	--gray-300: var(--ngrok-grayple-300);
	--gray-400: var(--ngrok-grayple-400);
	--gray-500: var(--ngrok-grayple-500);
	--gray-600: var(--ngrok-grayple-600);
	--gray-700: var(--ngrok-grayple-700);
	--gray-800: var(--ngrok-grayple-800);
	--gray-900: var(--ngrok-grayple-900);
	--gray-950: var(--ngrok-grayple-950);

	--red-50: var(--tw-red-50);
	--red-100: var(--tw-red-100);
	--red-200: var(--tw-red-200);
	--red-300: var(--tw-red-300);
	--red-400: var(--tw-red-400);
	--red-500: var(--tw-red-500);
	--red-600: var(--tw-red-600);
	--red-700: var(--tw-red-700);
	--red-800: var(--tw-red-800);
	--red-900: var(--tw-red-900);
	--red-950: var(--tw-red-950);

	--orange-50: var(--tw-orange-50);
	--orange-100: var(--tw-orange-100);
	--orange-200: var(--tw-orange-200);
	--orange-300: var(--tw-orange-300);
	--orange-400: var(--tw-orange-400);
	--orange-500: var(--tw-orange-500);
	--orange-600: var(--tw-orange-600);
	--orange-700: var(--tw-orange-700);
	--orange-800: var(--tw-orange-800);
	--orange-900: var(--tw-orange-900);
	--orange-950: var(--tw-orange-950);

	--amber-50: var(--tw-amber-50);
	--amber-100: var(--tw-amber-100);
	--amber-200: var(--tw-amber-200);
	--amber-300: var(--tw-amber-300);
	--amber-400: var(--tw-amber-400);
	--amber-500: var(--tw-amber-500);
	--amber-600: var(--tw-amber-600);
	--amber-700: var(--tw-amber-700);
	--amber-800: var(--tw-amber-800);
	--amber-900: var(--tw-amber-900);
	--amber-950: var(--tw-amber-950);

	--yellow-50: var(--tw-yellow-50);
	--yellow-100: var(--tw-yellow-100);
	--yellow-200: var(--tw-yellow-200);
	--yellow-300: var(--tw-yellow-300);
	--yellow-400: var(--tw-yellow-400);
	--yellow-500: var(--tw-yellow-500);
	--yellow-600: var(--tw-yellow-600);
	--yellow-700: var(--tw-yellow-700);
	--yellow-800: var(--tw-yellow-800);
	--yellow-900: var(--tw-yellow-900);
	--yellow-950: var(--tw-yellow-950);

	--lime-50: var(--tw-lime-50);
	--lime-100: var(--tw-lime-100);
	--lime-200: var(--tw-lime-200);
	--lime-300: var(--tw-lime-300);
	--lime-400: var(--tw-lime-400);
	--lime-500: var(--tw-lime-500);
	--lime-600: var(--tw-lime-600);
	--lime-700: var(--tw-lime-700);
	--lime-800: var(--tw-lime-800);
	--lime-900: var(--tw-lime-900);
	--lime-950: var(--tw-lime-950);

	--green-50: var(--tw-green-50);
	--green-100: var(--tw-green-100);
	--green-200: var(--tw-green-200);
	--green-300: var(--tw-green-300);
	--green-400: var(--tw-green-400);
	--green-500: var(--tw-green-500);
	--green-600: var(--tw-green-600);
	--green-700: var(--tw-green-700);
	--green-800: var(--tw-green-800);
	--green-900: var(--tw-green-900);
	--green-950: var(--tw-green-950);

	--emerald-50: var(--tw-emerald-50);
	--emerald-100: var(--tw-emerald-100);
	--emerald-200: var(--tw-emerald-200);
	--emerald-300: var(--tw-emerald-300);
	--emerald-400: var(--tw-emerald-400);
	--emerald-500: var(--tw-emerald-500);
	--emerald-600: var(--tw-emerald-600);
	--emerald-700: var(--tw-emerald-700);
	--emerald-800: var(--tw-emerald-800);
	--emerald-900: var(--tw-emerald-900);
	--emerald-950: var(--tw-emerald-950);

	--teal-50: var(--tw-teal-50);
	--teal-100: var(--tw-teal-100);
	--teal-200: var(--tw-teal-200);
	--teal-300: var(--tw-teal-300);
	--teal-400: var(--tw-teal-400);
	--teal-500: var(--tw-teal-500);
	--teal-600: var(--tw-teal-600);
	--teal-700: var(--tw-teal-700);
	--teal-800: var(--tw-teal-800);
	--teal-900: var(--tw-teal-900);
	--teal-950: var(--tw-teal-950);

	--cyan-50: var(--tw-cyan-50);
	--cyan-100: var(--tw-cyan-100);
	--cyan-200: var(--tw-cyan-200);
	--cyan-300: var(--tw-cyan-300);
	--cyan-400: var(--tw-cyan-400);
	--cyan-500: var(--tw-cyan-500);
	--cyan-600: var(--tw-cyan-600);
	--cyan-700: var(--tw-cyan-700);
	--cyan-800: var(--tw-cyan-800);
	--cyan-900: var(--tw-cyan-900);
	--cyan-950: var(--tw-cyan-950);

	--sky-50: var(--tw-sky-50);
	--sky-100: var(--tw-sky-100);
	--sky-200: var(--tw-sky-200);
	--sky-300: var(--tw-sky-300);
	--sky-400: var(--tw-sky-400);
	--sky-500: var(--tw-sky-500);
	--sky-600: var(--tw-sky-600);
	--sky-700: var(--tw-sky-700);
	--sky-800: var(--tw-sky-800);
	--sky-900: var(--tw-sky-900);
	--sky-950: var(--tw-sky-950);

	--blue-50: var(--ngrok-blue-50);
	--blue-100: var(--ngrok-blue-100);
	--blue-200: var(--ngrok-blue-200);
	--blue-300: var(--ngrok-blue-300);
	--blue-400: var(--ngrok-blue-400);
	--blue-500: var(--ngrok-blue-500);
	--blue-600: var(--ngrok-blue-600);
	--blue-700: var(--ngrok-blue-700);
	--blue-800: var(--ngrok-blue-800);
	--blue-900: var(--ngrok-blue-900);
	--blue-950: var(--ngrok-blue-950);

	--indigo-50: var(--tw-indigo-50);
	--indigo-100: var(--tw-indigo-100);
	--indigo-200: var(--tw-indigo-200);
	--indigo-300: var(--tw-indigo-300);
	--indigo-400: var(--tw-indigo-400);
	--indigo-500: var(--tw-indigo-500);
	--indigo-600: var(--tw-indigo-600);
	--indigo-700: var(--tw-indigo-700);
	--indigo-800: var(--tw-indigo-800);
	--indigo-900: var(--tw-indigo-900);
	--indigo-950: var(--tw-indigo-950);

	--violet-50: var(--tw-violet-50);
	--violet-100: var(--tw-violet-100);
	--violet-200: var(--tw-violet-200);
	--violet-300: var(--tw-violet-300);
	--violet-400: var(--tw-violet-400);
	--violet-500: var(--tw-violet-500);
	--violet-600: var(--tw-violet-600);
	--violet-700: var(--tw-violet-700);
	--violet-800: var(--tw-violet-800);
	--violet-900: var(--tw-violet-900);
	--violet-950: var(--tw-violet-950);

	--purple-50: var(--tw-purple-50);
	--purple-100: var(--tw-purple-100);
	--purple-200: var(--tw-purple-200);
	--purple-300: var(--tw-purple-300);
	--purple-400: var(--tw-purple-400);
	--purple-500: var(--tw-purple-500);
	--purple-600: var(--tw-purple-600);
	--purple-700: var(--tw-purple-700);
	--purple-800: var(--tw-purple-800);
	--purple-900: var(--tw-purple-900);
	--purple-950: var(--tw-purple-950);

	--fuchsia-50: var(--tw-fuchsia-50);
	--fuchsia-100: var(--tw-fuchsia-100);
	--fuchsia-200: var(--tw-fuchsia-200);
	--fuchsia-300: var(--tw-fuchsia-300);
	--fuchsia-400: var(--tw-fuchsia-400);
	--fuchsia-500: var(--tw-fuchsia-500);
	--fuchsia-600: var(--tw-fuchsia-600);
	--fuchsia-700: var(--tw-fuchsia-700);
	--fuchsia-800: var(--tw-fuchsia-800);
	--fuchsia-900: var(--tw-fuchsia-900);
	--fuchsia-950: var(--tw-fuchsia-950);

	--pink-50: var(--tw-pink-50);
	--pink-100: var(--tw-pink-100);
	--pink-200: var(--tw-pink-200);
	--pink-300: var(--tw-pink-300);
	--pink-400: var(--tw-pink-400);
	--pink-500: var(--tw-pink-500);
	--pink-600: var(--tw-pink-600);
	--pink-700: var(--tw-pink-700);
	--pink-800: var(--tw-pink-800);
	--pink-900: var(--tw-pink-900);
	--pink-950: var(--tw-pink-950);

	--rose-50: var(--tw-rose-50);
	--rose-100: var(--tw-rose-100);
	--rose-200: var(--tw-rose-200);
	--rose-300: var(--tw-rose-300);
	--rose-400: var(--tw-rose-400);
	--rose-500: var(--tw-rose-500);
	--rose-600: var(--tw-rose-600);
	--rose-700: var(--tw-rose-700);
	--rose-800: var(--tw-rose-800);
	--rose-900: var(--tw-rose-900);
	--rose-950: var(--tw-rose-950);

	/* mantle functional palette */

	--neutral-50: var(--gray-50);
	--neutral-100: var(--gray-100);
	--neutral-200: var(--gray-200);
	--neutral-300: var(--gray-300);
	--neutral-400: var(--gray-400);
	--neutral-500: var(--gray-500);
	--neutral-600: var(--gray-600);
	--neutral-700: var(--gray-700);
	--neutral-800: var(--gray-800);
	--neutral-900: var(--gray-900);
	--neutral-950: var(--gray-950);

	--accent-50: var(--blue-50);
	--accent-100: var(--blue-100);
	--accent-200: var(--blue-200);
	--accent-300: var(--blue-300);
	--accent-400: var(--blue-400);
	--accent-500: var(--blue-500);
	--accent-600: var(--blue-600);
	--accent-700: var(--blue-700);
	--accent-800: var(--blue-800);
	--accent-900: var(--blue-900);
	--accent-950: var(--blue-950);

	--danger-50: var(--red-50);
	--danger-100: var(--red-100);
	--danger-200: var(--red-200);
	--danger-300: var(--red-300);
	--danger-400: var(--red-400);
	--danger-500: var(--red-500);
	--danger-600: var(--red-600);
	--danger-700: var(--red-700);
	--danger-800: var(--red-800);
	--danger-900: var(--red-900);
	--danger-950: var(--red-950);

	--warning-50: var(--amber-50);
	--warning-100: var(--amber-100);
	--warning-200: var(--amber-200);
	--warning-300: var(--amber-300);
	--warning-400: var(--amber-400);
	--warning-500: var(--amber-500);
	--warning-600: var(--amber-600);
	--warning-700: var(--amber-700);
	--warning-800: var(--amber-800);
	--warning-900: var(--amber-900);
	--warning-950: var(--amber-950);

	--success-50: var(--green-50);
	--success-100: var(--green-100);
	--success-200: var(--green-200);
	--success-300: var(--green-300);
	--success-400: var(--green-400);
	--success-500: var(--green-500);
	--success-600: var(--green-600);
	--success-700: var(--green-700);
	--success-800: var(--green-800);
	--success-900: var(--green-900);
	--success-950: var(--green-950);

	/* elevation tokens */

	--bg-base: var(--neutral-50);
	--bg-card: var(--white);
	--bg-popover: var(--white);
	--bg-dialog: var(--white);

	--bg-base-hover: var(--neutral-100);
	--bg-card-hover: var(--neutral-100);
	--bg-popover-hover: var(--neutral-100);
	--bg-dialog-hover: var(--neutral-100);

	--border-base: var(--neutral-300);
	--border-card: var(--neutral-300);
	--border-popover: var(--neutral-300);
	--border-dialog: var(--neutral-300);

	--border-base-muted: var(--neutral-200);
	--border-card-muted: var(--neutral-200);
	--border-popover-muted: var(--neutral-200);
	--border-dialog-muted: var(--neutral-200);

	/* text tokens */

	--text-strong: var(--neutral-950);
	--text-body: var(--neutral-950) / 0.75;
	--text-muted: var(--neutral-950) / 0.6;
	--text-placeholder: var(--neutral-950) / 0.5;
	--text-on-filled: var(--tw-white);

	/* overlay */

	--bg-overlay: var(--tw-black) / 0.12;

	/* Tooltip */

	--bg-tooltip: var(--gray-800);
	--text-tooltip: var(--tw-white);

	/* form tokens */

	--bg-form: var(--white);
	--bg-form-hover: var(--neutral-50);
	--bg-form-active: var(--neutral-100);
	--border-form: var(--neutral-300);

	/* theme tokens */

	--bg-filled-neutral: var(--neutral-500);
	--bg-filled-accent: var(--accent-500);
	--bg-filled-danger: var(--danger-500);
	--bg-filled-warning: var(--warning-500);
	--bg-filled-success: var(--success-500);

	--bg-filled-neutral-hover: var(--neutral-600);
	--bg-filled-accent-hover: var(--accent-600);
	--bg-filled-danger-hover: var(--danger-600);
	--bg-filled-warning-hover: var(--warning-600);
	--bg-filled-success-hover: var(--success-600);

	--bg-filled-neutral-active: var(--neutral-700);
	--bg-filled-accent-active: var(--accent-700);
	--bg-filled-danger-active: var(--danger-700);
	--bg-filled-warning-active: var(--warning-700);
	--bg-filled-success-active: var(--success-700);

	/* focus tokens */

	--ring-focus-neutral: var(--neutral-500) / 0.3;
	--ring-focus-accent: var(--accent-500) / 0.3;
	--ring-focus-danger: var(--danger-500) / 0.3;
	--ring-focus-warning: var(--warning-500) / 0.3;
	--ring-focus-success: var(--success-500) / 0.3;
}

:root.dark {
	color-scheme: dark;
	/* mantle palette (dark) */

	--white: var(--tw-black);
	--black: var(--tw-white);

	--gray-50: var(--ngrok-grayple-950);
	--gray-100: var(--ngrok-grayple-900);
	--gray-200: var(--ngrok-grayple-800);
	--gray-300: var(--ngrok-grayple-700);
	--gray-400: var(--ngrok-grayple-600);
	--gray-500: var(--ngrok-grayple-500);
	--gray-600: var(--ngrok-grayple-400);
	--gray-700: var(--ngrok-grayple-300);
	--gray-800: var(--ngrok-grayple-200);
	--gray-900: var(--ngrok-grayple-100);
	--gray-950: var(--ngrok-grayple-50);

	--red-50: var(--tw-red-950);
	--red-100: var(--tw-red-900);
	--red-200: var(--tw-red-800);
	--red-300: var(--tw-red-700);
	--red-400: var(--tw-red-600);
	--red-500: var(--tw-red-500);
	--red-600: var(--tw-red-400);
	--red-700: var(--tw-red-300);
	--red-800: var(--tw-red-200);
	--red-900: var(--tw-red-100);
	--red-950: var(--tw-red-50);

	--orange-50: var(--tw-orange-950);
	--orange-100: var(--tw-orange-900);
	--orange-200: var(--tw-orange-800);
	--orange-300: var(--tw-orange-700);
	--orange-400: var(--tw-orange-600);
	--orange-500: var(--tw-orange-500);
	--orange-600: var(--tw-orange-400);
	--orange-700: var(--tw-orange-300);
	--orange-800: var(--tw-orange-200);
	--orange-900: var(--tw-orange-100);
	--orange-950: var(--tw-orange-50);

	--amber-50: var(--tw-amber-950);
	--amber-100: var(--tw-amber-900);
	--amber-200: var(--tw-amber-800);
	--amber-300: var(--tw-amber-700);
	--amber-400: var(--tw-amber-600);
	--amber-500: var(--tw-amber-500);
	--amber-600: var(--tw-amber-400);
	--amber-700: var(--tw-amber-300);
	--amber-800: var(--tw-amber-200);
	--amber-900: var(--tw-amber-100);
	--amber-950: var(--tw-amber-50);

	--yellow-50: var(--tw-yellow-950);
	--yellow-100: var(--tw-yellow-900);
	--yellow-200: var(--tw-yellow-800);
	--yellow-300: var(--tw-yellow-700);
	--yellow-400: var(--tw-yellow-600);
	--yellow-500: var(--tw-yellow-500);
	--yellow-600: var(--tw-yellow-400);
	--yellow-700: var(--tw-yellow-300);
	--yellow-800: var(--tw-yellow-200);
	--yellow-900: var(--tw-yellow-100);
	--yellow-950: var(--tw-yellow-50);

	--lime-50: var(--tw-lime-950);
	--lime-100: var(--tw-lime-900);
	--lime-200: var(--tw-lime-800);
	--lime-300: var(--tw-lime-700);
	--lime-400: var(--tw-lime-600);
	--lime-500: var(--tw-lime-500);
	--lime-600: var(--tw-lime-400);
	--lime-700: var(--tw-lime-300);
	--lime-800: var(--tw-lime-200);
	--lime-900: var(--tw-lime-100);
	--lime-950: var(--tw-lime-50);

	--green-50: var(--tw-green-950);
	--green-100: var(--tw-green-900);
	--green-200: var(--tw-green-800);
	--green-300: var(--tw-green-700);
	--green-400: var(--tw-green-600);
	--green-500: var(--tw-green-500);
	--green-600: var(--tw-green-400);
	--green-700: var(--tw-green-300);
	--green-800: var(--tw-green-200);
	--green-900: var(--tw-green-100);
	--green-950: var(--tw-green-50);

	--emerald-50: var(--tw-emerald-950);
	--emerald-100: var(--tw-emerald-900);
	--emerald-200: var(--tw-emerald-800);
	--emerald-300: var(--tw-emerald-700);
	--emerald-400: var(--tw-emerald-600);
	--emerald-500: var(--tw-emerald-500);
	--emerald-600: var(--tw-emerald-400);
	--emerald-700: var(--tw-emerald-300);
	--emerald-800: var(--tw-emerald-200);
	--emerald-900: var(--tw-emerald-100);
	--emerald-950: var(--tw-emerald-50);

	--teal-50: var(--tw-teal-950);
	--teal-100: var(--tw-teal-900);
	--teal-200: var(--tw-teal-800);
	--teal-300: var(--tw-teal-700);
	--teal-400: var(--tw-teal-600);
	--teal-500: var(--tw-teal-500);
	--teal-600: var(--tw-teal-400);
	--teal-700: var(--tw-teal-300);
	--teal-800: var(--tw-teal-200);
	--teal-900: var(--tw-teal-100);
	--teal-950: var(--tw-teal-50);

	--cyan-50: var(--tw-cyan-950);
	--cyan-100: var(--tw-cyan-900);
	--cyan-200: var(--tw-cyan-800);
	--cyan-300: var(--tw-cyan-700);
	--cyan-400: var(--tw-cyan-600);
	--cyan-500: var(--tw-cyan-500);
	--cyan-600: var(--tw-cyan-400);
	--cyan-700: var(--tw-cyan-300);
	--cyan-800: var(--tw-cyan-200);
	--cyan-900: var(--tw-cyan-100);
	--cyan-950: var(--tw-cyan-50);

	--sky-50: var(--tw-sky-950);
	--sky-100: var(--tw-sky-900);
	--sky-200: var(--tw-sky-800);
	--sky-300: var(--tw-sky-700);
	--sky-400: var(--tw-sky-600);
	--sky-500: var(--tw-sky-500);
	--sky-600: var(--tw-sky-400);
	--sky-700: var(--tw-sky-300);
	--sky-800: var(--tw-sky-200);
	--sky-900: var(--tw-sky-100);
	--sky-950: var(--tw-sky-50);

	--blue-50: var(--ngrok-blue-950);
	--blue-100: var(--ngrok-blue-900);
	--blue-200: var(--ngrok-blue-800);
	--blue-300: var(--ngrok-blue-700);
	--blue-400: var(--ngrok-blue-600);
	--blue-500: var(--ngrok-blue-500);
	--blue-600: var(--ngrok-blue-400);
	--blue-700: var(--ngrok-blue-300);
	--blue-800: var(--ngrok-blue-200);
	--blue-900: var(--ngrok-blue-100);
	--blue-950: var(--ngrok-blue-50);

	--indigo-50: var(--tw-indigo-950);
	--indigo-100: var(--tw-indigo-900);
	--indigo-200: var(--tw-indigo-800);
	--indigo-300: var(--tw-indigo-700);
	--indigo-400: var(--tw-indigo-600);
	--indigo-500: var(--tw-indigo-500);
	--indigo-600: var(--tw-indigo-400);
	--indigo-700: var(--tw-indigo-300);
	--indigo-800: var(--tw-indigo-200);
	--indigo-900: var(--tw-indigo-100);
	--indigo-950: var(--tw-indigo-50);

	--violet-50: var(--tw-violet-950);
	--violet-100: var(--tw-violet-900);
	--violet-200: var(--tw-violet-800);
	--violet-300: var(--tw-violet-700);
	--violet-400: var(--tw-violet-600);
	--violet-500: var(--tw-violet-500);
	--violet-600: var(--tw-violet-400);
	--violet-700: var(--tw-violet-300);
	--violet-800: var(--tw-violet-200);
	--violet-900: var(--tw-violet-100);
	--violet-950: var(--tw-violet-50);

	--purple-50: var(--tw-purple-950);
	--purple-100: var(--tw-purple-900);
	--purple-200: var(--tw-purple-800);
	--purple-300: var(--tw-purple-700);
	--purple-400: var(--tw-purple-600);
	--purple-500: var(--tw-purple-500);
	--purple-600: var(--tw-purple-400);
	--purple-700: var(--tw-purple-300);
	--purple-800: var(--tw-purple-200);
	--purple-900: var(--tw-purple-100);
	--purple-950: var(--tw-purple-50);

	--fuchsia-50: var(--tw-fuchsia-950);
	--fuchsia-100: var(--tw-fuchsia-900);
	--fuchsia-200: var(--tw-fuchsia-800);
	--fuchsia-300: var(--tw-fuchsia-700);
	--fuchsia-400: var(--tw-fuchsia-600);
	--fuchsia-500: var(--tw-fuchsia-500);
	--fuchsia-600: var(--tw-fuchsia-400);
	--fuchsia-700: var(--tw-fuchsia-300);
	--fuchsia-800: var(--tw-fuchsia-200);
	--fuchsia-900: var(--tw-fuchsia-100);
	--fuchsia-950: var(--tw-fuchsia-50);

	--pink-50: var(--tw-pink-950);
	--pink-100: var(--tw-pink-900);
	--pink-200: var(--tw-pink-800);
	--pink-300: var(--tw-pink-700);
	--pink-400: var(--tw-pink-600);
	--pink-500: var(--tw-pink-500);
	--pink-600: var(--tw-pink-400);
	--pink-700: var(--tw-pink-300);
	--pink-800: var(--tw-pink-200);
	--pink-900: var(--tw-pink-100);
	--pink-950: var(--tw-pink-50);

	--rose-50: var(--tw-rose-950);
	--rose-100: var(--tw-rose-900);
	--rose-200: var(--tw-rose-800);
	--rose-300: var(--tw-rose-700);
	--rose-400: var(--tw-rose-600);
	--rose-500: var(--tw-rose-500);
	--rose-600: var(--tw-rose-400);
	--rose-700: var(--tw-rose-300);
	--rose-800: var(--tw-rose-200);
	--rose-900: var(--tw-rose-100);
	--rose-950: var(--tw-rose-50);

	/* elevation tokens */

	--bg-base: var(--neutral-50);
	--bg-card: var(--neutral-100);
	--bg-popover: var(--neutral-100);
	--bg-dialog: var(--neutral-50);

	--bg-base-hover: var(--neutral-100);
	--bg-card-hover: var(--neutral-200);
	--bg-popover-hover: var(--neutral-200);
	--bg-dialog-hover: var(--neutral-100);

	--border-base: var(--neutral-300);
	--border-card: var(--neutral-300);
	--border-popover: var(--neutral-300);
	--border-dialog: var(--neutral-300);

	--border-base-muted: var(--neutral-200);
	--border-card-muted: var(--neutral-200);
	--border-popover-muted: var(--neutral-200);
	--border-dialog-muted: var(--neutral-200);

	/* text tokens */

	--text-strong: var(--black);
	--text-body: var(--black) / 0.7;
	--text-muted: var(--black) / 0.5;
	--text-placeholder: var(--black) / 0.4;
	--text-on-filled: var(--tw-white);

	/* overlay */

	--bg-overlay: var(--tw-black) / 0.6;

	/* tooltip */

	--bg-tooltip: var(--tw-black);
	--text-tooltip: var(--neutral-900);

	/* form tokens */

	--bg-form: var(--neutral-50);
	--bg-form-hover: var(--neutral-100);
	--bg-form-active: var(--neutral-200);
	--border-form: var(--neutral-300);

	/* theme tokens */

	--bg-filled-neutral: var(--neutral-500);
	--bg-filled-accent: var(--accent-500);
	--bg-filled-danger: var(--danger-500);
	--bg-filled-warning: var(--warning-500);
	--bg-filled-success: var(--success-500);

	--bg-filled-neutral-hover: var(--neutral-400);
	--bg-filled-accent-hover: var(--accent-400);
	--bg-filled-danger-hover: var(--danger-400);
	--bg-filled-warning-hover: var(--warning-400);
	--bg-filled-success-hover: var(--success-400);

	--bg-filled-neutral-active: var(--neutral-300);
	--bg-filled-accent-active: var(--accent-300);
	--bg-filled-danger-active: var(--danger-300);
	--bg-filled-warning-active: var(--warning-300);
	--bg-filled-success-active: var(--success-300);
}

:root.light-high-contrast {
	color-scheme: light;

	--amber-50: 48 100% 96%;
	--amber-100: 48 96% 89%;
	--amber-200: 48 97% 77%;
	--amber-300: 32 95% 44%;
	--amber-400: 31 94% 40%;
	--amber-500: 31 93% 36%;
	--amber-600: 30 94% 31%;
	--amber-700: 29 93% 27%;
	--amber-800: 27 91% 23%;
	--amber-900: 25 92% 19%;
	--amber-950: 21 92% 14%;

	--blue-50: 220 100% 97%;
	--blue-100: 221 94% 93%;
	--blue-200: 221 94% 87%;
	--blue-300: 228 82% 55%;
	--blue-400: 228 67% 50%;
	--blue-500: 228 65% 45%;
	--blue-600: 229 64% 40%;
	--blue-700: 229 63% 36%;
	--blue-800: 231 61% 31%;
	--blue-900: 232 58% 26%;
	--blue-950: 234 55% 21%;

	--cyan-50: 183 100% 96%;
	--cyan-100: 185 96% 90%;
	--cyan-200: 186 94% 82%;
	--cyan-300: 192 91% 36%;
	--cyan-400: 192 90% 34%;
	--cyan-500: 193 88% 31%;
	--cyan-600: 193 87% 27%;
	--cyan-700: 193 86% 25%;
	--cyan-800: 194 83% 21%;
	--cyan-900: 196 81% 18%;
	--cyan-950: 197 79% 15%;

	--emerald-50: 152 81% 96%;
	--emerald-100: 149 80% 90%;
	--emerald-200: 152 76% 80%;
	--emerald-300: 161 94% 30%;
	--emerald-400: 162 93% 28%;
	--emerald-500: 162 92% 25%;
	--emerald-600: 162 93% 21%;
	--emerald-700: 163 91% 18%;
	--emerald-800: 163 90% 15%;
	--emerald-900: 164 90% 12%;
	--emerald-950: 166 91% 9%;

	--fuchsia-50: 289 100% 98%;
	--fuchsia-100: 287 100% 95%;
	--fuchsia-200: 288 96% 91%;
	--fuchsia-300: 293 69% 49%;
	--fuchsia-400: 294 70% 45%;
	--fuchsia-500: 294 71% 40%;
	--fuchsia-600: 294 73% 35%;
	--fuchsia-700: 295 75% 30%;
	--fuchsia-800: 295 78% 25%;
	--fuchsia-900: 296 81% 21%;
	--fuchsia-950: 297 90% 16%;

	--gray-50: 210 20% 98%;
	--gray-100: 220 14% 96%;
	--gray-200: 223 14% 90%;
	--gray-300: 228 11% 35%;
	--gray-400: 227 12% 32%;
	--gray-500: 229 12% 28%;
	--gray-600: 233 13% 25%;
	--gray-700: 232 14% 22%;
	--gray-800: 232 16% 18%;
	--gray-900: 235 17% 15%;
	--gray-950: 235 21% 11%;

	--green-50: 138 76% 97%;
	--green-100: 141 84% 93%;
	--green-200: 141 79% 85%;
	--green-300: 142 76% 36%;
	--green-400: 142 76% 33%;
	--green-500: 142 76% 29%;
	--green-600: 143 77% 25%;
	--green-700: 143 76% 22%;
	--green-800: 143 76% 18%;
	--green-900: 144 77% 14%;
	--green-950: 145 80% 10%;

	--indigo-50: 226 100% 97%;
	--indigo-100: 226 100% 94%;
	--indigo-200: 228 96% 89%;
	--indigo-300: 243 75% 59%;
	--indigo-400: 244 60% 53%;
	--indigo-500: 243 52% 48%;
	--indigo-600: 243 52% 42%;
	--indigo-700: 244 51% 37%;
	--indigo-800: 244 50% 31%;
	--indigo-900: 244 49% 26%;
	--indigo-950: 244 47% 20%;

	--lime-50: 78 92% 95%;
	--lime-100: 80 89% 89%;
	--lime-200: 81 88% 80%;
	--lime-300: 85 85% 35%;
	--lime-400: 85 84% 31%;
	--lime-500: 85 84% 28%;
	--lime-600: 86 84% 24%;
	--lime-700: 86 83% 21%;
	--lime-800: 87 82% 17%;
	--lime-900: 87 80% 14%;
	--lime-950: 89 80% 10%;

	--orange-50: 33 100% 96%;
	--orange-100: 34 100% 92%;
	--orange-200: 32 98% 83%;
	--orange-300: 21 90% 48%;
	--orange-400: 20 89% 44%;
	--orange-500: 20 89% 39%;
	--orange-600: 19 87% 34%;
	--orange-700: 19 87% 29%;
	--orange-800: 18 85% 24%;
	--orange-900: 16 84% 20%;
	--orange-950: 13 81% 15%;

	--pink-50: 327 73% 97%;
	--pink-100: 326 78% 95%;
	--pink-200: 326 85% 90%;
	--pink-300: 333 71% 51%;
	--pink-400: 333 70% 46%;
	--pink-500: 333 71% 41%;
	--pink-600: 334 72% 36%;
	--pink-700: 334 74% 32%;
	--pink-800: 335 75% 27%;
	--pink-900: 335 79% 22%;
	--pink-950: 336 84% 17%;

	--purple-50: 270 100% 98%;
	--purple-100: 269 100% 95%;
	--purple-200: 269 100% 92%;
	--purple-300: 271 81% 56%;
	--purple-400: 272 68% 51%;
	--purple-500: 272 67% 46%;
	--purple-600: 272 69% 41%;
	--purple-700: 272 72% 36%;
	--purple-800: 273 75% 31%;
	--purple-900: 273 79% 26%;
	--purple-950: 274 87% 21%;

	--red-50: 0 86% 97%;
	--red-100: 0 93% 94%;
	--red-200: 0 96% 89%;
	--red-300: 0 72% 51%;
	--red-400: 0 70% 46%;
	--red-500: 0 71% 40%;
	--red-600: 0 71% 35%;
	--red-700: 0 71% 31%;
	--red-800: 0 71% 26%;
	--red-900: 0 72% 21%;
	--red-950: 0 75% 15%;

	--rose-50: 356 100% 97%;
	--rose-100: 356 100% 95%;
	--rose-200: 353 96% 90%;
	--rose-300: 347 77% 50%;
	--rose-400: 347 77% 45%;
	--rose-500: 347 78% 40%;
	--rose-600: 346 79% 35%;
	--rose-700: 345 79% 31%;
	--rose-800: 345 80% 26%;
	--rose-900: 344 83% 21%;
	--rose-950: 343 88% 16%;

	--sky-50: 204 100% 97%;
	--sky-100: 204 94% 94%;
	--sky-200: 201 94% 86%;
	--sky-300: 200 98% 39%;
	--sky-400: 201 96% 36%;
	--sky-500: 201 95% 33%;
	--sky-600: 201 93% 30%;
	--sky-700: 202 91% 26%;
	--sky-800: 202 88% 23%;
	--sky-900: 203 84% 20%;
	--sky-950: 204 80% 16%;

	--teal-50: 166 76% 97%;
	--teal-100: 167 85% 89%;
	--teal-200: 168 84% 78%;
	--teal-300: 175 84% 32%;
	--teal-400: 175 84% 29%;
	--teal-500: 175 83% 26%;
	--teal-600: 176 83% 23%;
	--teal-700: 176 82% 20%;
	--teal-800: 177 83% 16%;
	--teal-900: 178 82% 13%;
	--teal-950: 179 84% 10%;

	--violet-50: 250 100% 98%;
	--violet-100: 251 91% 95%;
	--violet-200: 251 95% 92%;
	--violet-300: 262 83% 58%;
	--violet-400: 262 69% 53%;
	--violet-500: 262 62% 48%;
	--violet-600: 262 63% 43%;
	--violet-700: 262 64% 38%;
	--violet-800: 262 66% 33%;
	--violet-900: 261 68% 28%;
	--violet-950: 261 73% 23%;

	--yellow-50: 55 92% 95%;
	--yellow-100: 55 97% 88%;
	--yellow-200: 53 98% 77%;
	--yellow-300: 41 96% 40%;
	--yellow-400: 40 95% 37%;
	--yellow-500: 39 94% 33%;
	--yellow-600: 38 92% 29%;
	--yellow-700: 36 91% 26%;
	--yellow-800: 34 89% 22%;
	--yellow-900: 31 87% 18%;
	--yellow-950: 26 83% 14%;

	--black: 0 0% 0%;
	--white: 0 0% 100%;

	/* elevation tokens */

	--border-base-muted: var(--neutral-300);
	--border-card-muted: var(--neutral-300);
	--border-popover-muted: var(--neutral-300);
	--border-dialog-muted: var(--neutral-300);

	/* text tokens */

	--text-strong: var(--black);
	--text-body: var(--black);
	--text-muted: var(--black) / 0.75;
	--text-placeholder: var(--black) / 0.5;
	--text-on-filled: var(--tw-white);
}

:root.dark-high-contrast {
	color-scheme: dark;

	--white: 0 0% 0%;
	--black: 0 0% 100%;

	--amber-50: 21 92% 14%;
	--amber-100: 22 78% 26%;
	--amber-200: 23 83% 31%;
	--amber-300: 43 96% 56%;
	--amber-400: 43 97% 62%;
	--amber-500: 43 96% 68%;
	--amber-600: 44 97% 74%;
	--amber-700: 44 98% 79%;
	--amber-800: 44 97% 85%;
	--amber-900: 44 100% 90%;
	--amber-950: 48 100% 96%;

	--blue-50: 234 55% 21%;
	--blue-100: 232 63% 33%;
	--blue-200: 232 70% 40%;
	--blue-300: 220 96% 70%;
	--blue-400: 220 97% 74%;
	--blue-500: 220 96% 78%;
	--blue-600: 220 98% 82%;
	--blue-700: 220 97% 85%;
	--blue-800: 221 94% 87%;
	--blue-900: 221 94% 93%;
	--blue-950: 220 100% 97%;

	--cyan-50: 197 79% 15%;
	--cyan-100: 196 64% 24%;
	--cyan-200: 194 70% 27%;
	--cyan-300: 188 86% 53%;
	--cyan-400: 188 86% 60%;
	--cyan-500: 188 86% 66%;
	--cyan-600: 188 88% 72%;
	--cyan-700: 188 87% 78%;
	--cyan-800: 188 90% 85%;
	--cyan-900: 187 92% 90%;
	--cyan-950: 183 100% 96%;

	--emerald-50: 166 91% 9%;
	--emerald-100: 164 86% 16%;
	--emerald-200: 163 88% 20%;
	--emerald-300: 158 64% 52%;
	--emerald-400: 158 64% 58%;
	--emerald-500: 158 65% 64%;
	--emerald-600: 158 65% 71%;
	--emerald-700: 157 66% 77%;
	--emerald-800: 156 69% 84%;
	--emerald-900: 155 71% 89%;
	--emerald-950: 152 81% 96%;

	--fuchsia-50: 297 90% 16%;
	--fuchsia-100: 297 64% 28%;
	--fuchsia-200: 295 70% 33%;
	--fuchsia-300: 292 91% 73%;
	--fuchsia-400: 292 92% 76%;
	--fuchsia-500: 292 92% 80%;
	--fuchsia-600: 291 93% 84%;
	--fuchsia-700: 292 94% 87%;
	--fuchsia-800: 290 96% 91%;
	--fuchsia-900: 289 100% 95%;
	--fuchsia-950: 289 100% 98%;

	--gray-50: 235 21% 11%;
	--gray-100: 236 17% 17%;
	--gray-200: 233 16% 21%;
	--gray-300: 226 9% 65%;
	--gray-400: 227 9% 70%;
	--gray-500: 222 10% 75%;
	--gray-600: 224 10% 79%;
	--gray-700: 227 11% 84%;
	--gray-800: 220 11% 89%;
	--gray-900: 210 12% 93%;
	--gray-950: 210 20% 98%;

	--green-50: 145 80% 10%;
	--green-100: 144 61% 20%;
	--green-200: 143 64% 24%;
	--green-300: 142 69% 58%;
	--green-400: 142 70% 64%;
	--green-500: 141 69% 69%;
	--green-600: 141 70% 75%;
	--green-700: 141 70% 80%;
	--green-800: 141 72% 86%;
	--green-900: 142 73% 91%;
	--green-950: 138 76% 97%;

	--indigo-50: 244 47% 20%;
	--indigo-100: 242 47% 34%;
	--indigo-200: 244 55% 41%;
	--indigo-300: 234 89% 74%;
	--indigo-400: 234 90% 77%;
	--indigo-500: 234 90% 80%;
	--indigo-600: 234 90% 84%;
	--indigo-700: 233 91% 87%;
	--indigo-800: 232 92% 90%;
	--indigo-900: 230 94% 94%;
	--indigo-950: 226 100% 97%;

	--lime-50: 89 80% 10%;
	--lime-100: 88 61% 20%;
	--lime-200: 86 69% 23%;
	--lime-300: 83 78% 55%;
	--lime-400: 83 79% 61%;
	--lime-500: 82 78% 67%;
	--lime-600: 82 80% 73%;
	--lime-700: 82 80% 78%;
	--lime-800: 82 80% 84%;
	--lime-900: 80 85% 90%;
	--lime-950: 78 92% 95%;

	--orange-50: 13 81% 15%;
	--orange-100: 15 75% 28%;
	--orange-200: 15 79% 34%;
	--orange-300: 27 96% 61%;
	--orange-400: 27 97% 66%;
	--orange-500: 27 96% 71%;
	--orange-600: 27 97% 76%;
	--orange-700: 28 98% 82%;
	--orange-800: 28 97% 86%;
	--orange-900: 29 100% 91%;
	--orange-950: 33 100% 96%;

	--pink-50: 336 84% 17%;
	--pink-100: 336 69% 30%;
	--pink-200: 336 74% 35%;
	--pink-300: 329 86% 70%;
	--pink-400: 328 86% 74%;
	--pink-500: 328 86% 78%;
	--pink-600: 328 85% 82%;
	--pink-700: 328 84% 85%;
	--pink-800: 328 85% 90%;
	--pink-900: 329 82% 94%;
	--pink-950: 327 73% 97%;

	--purple-50: 274 87% 21%;
	--purple-100: 274 66% 32%;
	--purple-200: 273 67% 39%;
	--purple-300: 270 95% 75%;
	--purple-400: 270 96% 78%;
	--purple-500: 270 96% 82%;
	--purple-600: 270 97% 85%;
	--purple-700: 270 97% 88%;
	--purple-800: 269 95% 92%;
	--purple-900: 270 100% 95%;
	--purple-950: 270 100% 98%;

	--red-50: 0 75% 15%;
	--red-100: 0 63% 31%;
	--red-200: 0 70% 35%;
	--red-300: 0 91% 71%;
	--red-400: 0 91% 75%;
	--red-500: 0 91% 79%;
	--red-600: 0 91% 82%;
	--red-700: 0 92% 86%;
	--red-800: 0 92% 90%;
	--red-900: 0 88% 93%;
	--red-950: 0 86% 97%;

	--rose-50: 343 88% 16%;
	--rose-100: 342 75% 30%;
	--rose-200: 343 80% 35%;
	--rose-300: 351 95% 71%;
	--rose-400: 351 95% 75%;
	--rose-500: 352 94% 79%;
	--rose-600: 351 95% 83%;
	--rose-700: 352 97% 86%;
	--rose-800: 353 96% 90%;
	--rose-900: 353 100% 94%;
	--rose-950: 356 100% 97%;

	--sky-50: 204 80% 16%;
	--sky-100: 202 80% 24%;
	--sky-200: 201 90% 27%;
	--sky-300: 198 93% 60%;
	--sky-400: 198 93% 65%;
	--sky-500: 199 93% 70%;
	--sky-600: 199 93% 76%;
	--sky-700: 199 94% 81%;
	--sky-800: 199 94% 86%;
	--sky-900: 200 95% 91%;
	--sky-950: 204 100% 97%;

	--teal-50: 179 84% 10%;
	--teal-100: 176 61% 19%;
	--teal-200: 176 69% 22%;
	--teal-300: 172 66% 50%;
	--teal-400: 173 66% 57%;
	--teal-500: 172 66% 64%;
	--teal-600: 172 67% 70%;
	--teal-700: 172 67% 77%;
	--teal-800: 171 69% 84%;
	--teal-900: 170 70% 90%;
	--teal-950: 166 76% 97%;

	--violet-50: 261 73% 23%;
	--violet-100: 264 67% 35%;
	--violet-200: 263 69% 42%;
	--violet-300: 255 92% 76%;
	--violet-400: 255 92% 80%;
	--violet-500: 255 93% 83%;
	--violet-600: 255 95% 86%;
	--violet-700: 254 93% 89%;
	--violet-800: 253 95% 92%;
	--violet-900: 253 100% 95%;
	--violet-950: 250 100% 98%;

	--yellow-50: 26 83% 14%;
	--yellow-100: 28 73% 26%;
	--yellow-200: 32 81% 29%;
	--yellow-300: 48 96% 53%;
	--yellow-400: 48 96% 59%;
	--yellow-500: 48 95% 65%;
	--yellow-600: 48 96% 72%;
	--yellow-700: 49 96% 78%;
	--yellow-800: 49 95% 84%;
	--yellow-900: 50 96% 89%;
	--yellow-950: 55 92% 95%;

	/* tokens */

	--bg-base: var(--white);
	--bg-card: var(--neutral-50);
	--bg-popover: var(--neutral-50);
	--bg-dialog: var(--neutral-50);
	--bg-overlay: var(--tw-black) / 0.8;

	--text-strong: var(--black);
	--text-body: var(--black);
	--text-muted: var(--black) / 0.75;
	--text-placeholder: var(--black) / 0.5;
	--text-on-filled: var(--tw-black);

	--border-base-muted: var(--neutral-300);
	--border-card-muted: var(--neutral-300);
	--border-popover-muted: var(--neutral-300);
	--border-dialog-muted: var(--neutral-300);

	--bg-overlay: var(--tw-black) / 0.6;

	--bg-tooltip: var(--tw-black);
	--text-tooltip: var(--tw-white);
}

/**
	* prism.js default theme for JavaScript, CSS and HTML
	* Based on dabblet (http://dabblet.com)
	* @author Lea Verou
	*/

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: hsl(var(--gray-500));
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: hsl(var(--indigo-600));
}

.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: hsl(var(--green-600));
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: hsl(var(--green-600));
}

.token.selector,
.token.atrule,
.token.attr-value,
.token.keyword {
	color: hsl(var(--blue-600));
}

.token.function,
.token.class-name {
	color: hsl(var(--blue-600));
}

.token.regex,
.token.important,
.token.variable {
	color: hsl(var(--yellow-600));
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

@layer base {
	body {
		@apply bg-white text-gray-900;
	}
}

@layer utilities {
	.light {
		color-scheme: light;
	}
	.dark {
		color-scheme: dark;
	}
	.light-high-contrast {
		color-scheme: light;
	}
	.dark-high-contrast {
		color-scheme: dark;
	}

	.scrollbar::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
		background-color: transparent;
	}

	.scrollbar::-webkit-scrollbar-track {
		border-radius: 0.5rem;
		background-color: transparent;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		border-radius: 0.5rem;
		background-color: hsl(var(--gray-800) / 0.5);
	}

	.scrollbar::-webkit-scrollbar-corner {
		background-color: transparent;
		border-color: transparent;
	}

	.scrollbar {
		scrollbar-color: hsl(var(--gray-600) / 0.5) transparent;
		scrollbar-width: thin;
	}
}
