---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="Typography">
	<h1 class="text-5xl">Typography</h1>
	<p class="text-gray-600 text-xl mt-4">Coming soon.</p>
</PageLayout>
