@import url("./assets/fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: 0deg 0% 100%;
	--brand-primary-050: 222deg 87% 97%;
	--brand-primary-100: 222deg 90% 92%;
	--brand-primary-200: 224deg 88% 84%;
	--brand-primary-300: 226deg 89% 76%;
	--brand-primary-400: 228deg 82% 66%;
	--brand-primary-500: 229deg 79% 57%;
	--brand-primary-600: 231deg 67% 46%;
	--brand-primary-700: 230deg 73% 37%;
	--brand-primary-800: 231deg 84% 26%;
	--brand-primary-900: 230deg 89% 18%;
	--brand-secondary-050: 267deg 82% 98%;
	--brand-secondary-100: 264deg 77% 92%;
	--brand-secondary-200: 259deg 78% 86%;
	--brand-secondary-300: 258deg 72% 76%;
	--brand-secondary-400: 257deg 65% 69%;
	--brand-secondary-500: 256deg 54% 58%;
	--brand-secondary-600: 255deg 45% 51%;
	--brand-secondary-700: 254deg 43% 40%;
	--brand-secondary-800: 253deg 44% 29%;
	--brand-secondary-900: 253deg 47% 19%;
	--neutral-050: 210deg 40% 98%;
	--neutral-100: 213deg 36% 95%;
	--neutral-200: 217deg 30% 92%;
	--neutral-300: 211deg 25% 84%;
	--neutral-400: 221deg 20% 69%;
	--neutral-500: 224deg 17% 56%;
	--neutral-600: 225deg 14% 43%;
	--neutral-700: 225deg 18% 31%;
	--neutral-800: 225deg 19% 21%;
	--neutral-900: 231deg 19% 13%;
	--danger-050: 347deg 69% 97%;
	--danger-100: 345deg 78% 91%;
	--danger-200: 347deg 92% 85%;
	--danger-300: 348deg 90% 76%;
	--danger-400: 351deg 74% 67%;
	--danger-500: 2deg 60% 55%;
	--danger-600: 3deg 54% 46%;
	--danger-700: 355deg 49% 37%;
	--danger-800: 354deg 56% 26%;
	--danger-900: 348deg 97% 13%;
	--warning-050: 60deg 65% 95%;
	--warning-100: 55deg 83% 81%;
	--warning-200: 53deg 76% 73%;
	--warning-300: 47deg 81% 67%;
	--warning-400: 41deg 72% 61%;
	--warning-500: 36deg 57% 54%;
	--warning-600: 30deg 48% 46%;
	--warning-700: 26deg 52% 37%;
	--warning-800: 25deg 62% 24%;
	--warning-900: 28deg 94% 13%;
	--success-050: 138deg 89% 96%;
	--success-100: 142deg 62% 89%;
	--success-200: 146deg 49% 78%;
	--success-300: 148deg 43% 66%;
	--success-400: 152deg 34% 56%;
	--success-500: 156deg 28% 47%;
	--success-600: 162deg 27% 38%;
	--success-700: 166deg 26% 30%;
	--success-800: 170deg 29% 20%;
	--success-900: 170deg 52% 9%;



	--background: 0 0% 100%;
	--foreground: 222.2 84% 4.9%;

	--muted: 210 40% 96.1%;
	--muted-foreground: 215.4 16.3% 46.9%;

	--popover: 0 0% 100%;
	--popover-foreground: 222.2 84% 4.9%;

	--card: 0 0% 100%;
	--card-foreground: 222.2 84% 4.9%;

	--border: 214.3 31.8% 91.4%;
	--input: 214.3 31.8% 91.4%;

	--primary: 222.2 47.4% 11.2%;
	--primary-foreground: 210 40% 98%;

	--secondary: 210 40% 96.1%;
	--secondary-foreground: 222.2 47.4% 11.2%;

	--accent: 210 40% 96.1%;
	--accent-foreground: 222.2 47.4% 11.2%;

	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 210 40% 98%;

	--ring: 215 20.2% 65.1%;

	--radius: 0.5rem;
}

:root.dark {
	--white: 240deg 19% 13%;
	--neutral-050: 231deg 20% 19%;
	--neutral-100: 234deg 15% 25%;
	--neutral-200: 233deg 10% 35%;
	--neutral-300: 23deg 7% 45%;
	--neutral-400: 23deg 6% 55%;
	--neutral-500: 23deg 7% 64%;
	--neutral-600: 22deg 7% 74%;
	--neutral-700: 22deg 9% 83%;
	--neutral-800: 216deg 14% 93%;
	--neutral-900: 0deg 0% 100%;
	--danger-050: 354deg 27% 22%;
	--danger-100: 359deg 32% 25%;
	--danger-200: 2deg 39% 32%;
	--danger-300: 3deg 45% 38%;
	--danger-400: 4deg 49% 44%;
	--danger-500: 5deg 51% 50%;
	--danger-600: 4deg 49% 62%;
	--danger-700: 0deg 47% 74%;
	--danger-800: 355deg 49% 86%;
	--danger-900: 343deg 54% 92%;
	--warning-050: 28deg 26% 22%;
	--warning-100: 30deg 28% 26%;
	--warning-200: 33deg 29% 35%;
	--warning-300: 35deg 34% 41%;
	--warning-400: 38deg 38% 48%;
	--warning-500: 43deg 43% 55%;
	--warning-600: 49deg 48% 62%;
	--warning-700: 50deg 55% 72%;
	--warning-800: 51deg 65% 83%;
	--warning-900: 54deg 63% 91%;
	--success-050: 170deg 17% 21%;
	--success-100: 166deg 17% 24%;
	--success-200: 159deg 18% 31%;
	--success-300: 155deg 19% 37%;
	--success-400: 153deg 19% 43%;
	--success-500: 151deg 19% 50%;
	--success-600: 149deg 21% 63%;
	--success-700: 147deg 25% 74%;
	--success-800: 142deg 32% 87%;
	--success-900: 138deg 52% 94%;
	--brand-primary-050: 236deg 45% 28%;
	--brand-primary-100: 235deg 47% 33%;
	--brand-primary-200: 233deg 51% 38%;
	--brand-primary-300: 232deg 53% 44%;
	--brand-primary-400: 231deg 56% 49%;
	--brand-primary-500: 231deg 69% 55%;
	--brand-primary-600: 230deg 68% 66%;
	--brand-primary-700: 229deg 68% 75%;
	--brand-primary-800: 226deg 72% 87%;
	--brand-primary-900: 223deg 78% 93%;
	--brand-secondary-050: 50deg 36% 24%;
	--brand-secondary-100: 49deg 35% 28%;
	--brand-secondary-200: 51deg 36% 35%;
	--brand-secondary-300: 53deg 36% 43%;
	--brand-secondary-400: 53deg 36% 50%;
	--brand-secondary-500: 53deg 47% 57%;
	--brand-secondary-600: 54deg 49% 67%;
	--brand-secondary-700: 56deg 51% 77%;
	--brand-secondary-800: 57deg 58% 87%;
	--brand-secondary-900: 61deg 68% 93%;

	--background: 222.2 84% 4.9%;
	--foreground: 210 40% 98%;

	--muted: 217.2 32.6% 17.5%;
	--muted-foreground: 215 20.2% 65.1%;

	--popover: 222.2 84% 4.9%;
	--popover-foreground: 210 40% 98%;

	--card: 222.2 84% 4.9%;
	--card-foreground: 210 40% 98%;

	--border: 217.2 32.6% 17.5%;
	--input: 217.2 32.6% 17.5%;

	--primary: 210 40% 98%;
	--primary-foreground: 222.2 47.4% 11.2%;

	--secondary: 217.2 32.6% 17.5%;
	--secondary-foreground: 210 40% 98%;

	--accent: 217.2 32.6% 17.5%;
	--accent-foreground: 210 40% 98%;

	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 85.7% 97.3%;

	--ring: 217.2 32.6% 17.5%;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-white text-neutral-800;
	}
}
