@import url("./assets/fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: 0deg 0% 100%;
	--brand-primary-050: 222deg 87% 97%;
	--brand-primary-100: 227deg 81% 90%;
	--brand-primary-200: 228deg 81% 82%;
	--brand-primary-300: 229deg 79% 74%;
	--brand-primary-400: 229deg 79% 66%;
	--brand-primary-500: 229deg 79% 57%;
	--brand-primary-600: 231deg 67% 46%;
	--brand-primary-700: 230deg 73% 37%;
	--brand-primary-800: 231deg 84% 26%;
	--brand-primary-900: 230deg 89% 18%;
	--brand-secondary-050: 267deg 82% 98%;
	--brand-secondary-100: 264deg 77% 92%;
	--brand-secondary-200: 259deg 78% 86%;
	--brand-secondary-300: 258deg 72% 76%;
	--brand-secondary-400: 257deg 65% 69%;
	--brand-secondary-500: 256deg 54% 58%;
	--brand-secondary-600: 255deg 45% 51%;
	--brand-secondary-700: 254deg 43% 40%;
	--brand-secondary-800: 253deg 44% 29%;
	--brand-secondary-900: 253deg 47% 19%;
	--gray-050: 210deg 40% 98%;
	--gray-100: 215deg 32% 93%;
	--gray-200: 217deg 30% 83%;
	--gray-300: 211deg 25% 74%;
	--gray-400: 221deg 20% 69%;
	--gray-500: 224deg 17% 53%;
	--gray-600: 225deg 14% 43%;
	--gray-700: 225deg 18% 31%;
	--gray-800: 225deg 19% 21%;
	--gray-900: 231deg 19% 13%;
	--green-050: 138deg 89% 96%;
	--green-100: 142deg 62% 89%;
	--green-200: 146deg 49% 78%;
	--green-300: 148deg 43% 66%;
	--green-400: 152deg 34% 56%;
	--green-500: 156deg 28% 47%;
	--green-600: 162deg 27% 38%;
	--green-700: 166deg 26% 30%;
	--green-800: 170deg 29% 20%;
	--green-900: 170deg 52% 9%;
	--red-050: 345deg 100% 98%;
	--red-100: 358deg 70% 91%;
	--red-200: 0deg 64% 81%;
	--red-300: 1deg 61% 72%;
	--red-400: 2deg 61% 62%;
	--red-500: 2deg 60% 55%;
	--red-600: 3deg 54% 46%;
	--red-700: 355deg 49% 37%;
	--red-800: 354deg 56% 26%;
	--red-900: 348deg 97% 13%;
	--yellow-050: 36deg 100% 95%;
	--yellow-100: 36deg 100% 87%;
	--yellow-200: 36deg 100% 78%;
	--yellow-300: 36deg 96% 71%;
	--yellow-400: 36deg 92% 60%;
	--yellow-500: 36deg 90% 52%;
	--yellow-600: 36deg 74% 46%;
	--yellow-700: 36deg 100% 34%;
	--yellow-800: 36deg 100% 23%;
	--yellow-900: 36deg 100% 11%;

	--button: 0deg 0% 100%;
	--border: var(--gray-200);
	--radius: 0.5rem;
}

:root.dark {
	--white: 240deg 18% 13%;
	--brand-primary-050: 237deg 33% 22%;
	--brand-primary-100: 233deg 39% 31%;
	--brand-primary-200: 233deg 41% 40%;
	--brand-primary-300: 232deg 44% 49%;
	--brand-primary-400: 231deg 60% 57%;
	--brand-primary-500: 231deg 81% 65%;
	--brand-primary-600: 231deg 87% 72%;
	--brand-primary-700: 230deg 87% 79%;
	--brand-primary-800: 228deg 84% 85%;
	--brand-primary-900: 223deg 78% 93%;
	--brand-secondary-050: 250deg 36% 24%;
	--brand-secondary-100: 249deg 35% 28%;
	--brand-secondary-200: 251deg 36% 35%;
	--brand-secondary-300: 253deg 36% 43%;
	--brand-secondary-400: 253deg 36% 50%;
	--brand-secondary-500: 253deg 47% 57%;
	--brand-secondary-600: 254deg 49% 67%;
	--brand-secondary-700: 256deg 51% 77%;
	--brand-secondary-800: 257deg 58% 87%;
	--brand-secondary-900: 261deg 68% 93%;
	--gray-050: 231deg 20% 19%;
	--gray-100: 234deg 15% 25%;
	--gray-200: 233deg 10% 35%;
	--gray-300: 233deg 7% 45%;
	--gray-400: 232deg 6% 55%;
	--gray-500: 230deg 7% 64%;
	--gray-600: 228deg 7% 74%;
	--gray-700: 225deg 9% 83%;
	--gray-800: 216deg 14% 93%;
	--gray-900: 0deg 0% 100%;
	--green-050: 173deg 30% 18%;
	--green-100: 163deg 35% 24%;
	--green-200: 158deg 38% 28%;
	--green-300: 154deg 40% 34%;
	--green-400: 153deg 42% 38%;
	--green-500: 151deg 43% 43%;
	--green-600: 149deg 31% 62%;
	--green-700: 147deg 43% 73%;
	--green-800: 142deg 77% 85%;
	--green-900: 137deg 100% 93%;
	--red-050: 353deg 24% 20%;
	--red-100: 0deg 32% 27%;
	--red-200: 3deg 39% 33%;
	--red-300: 3deg 44% 38%;
	--red-400: 4deg 48% 44%;
	--red-500: 5deg 51% 50%;
	--red-600: 4deg 49% 62%;
	--red-700: 0deg 47% 74%;
	--red-800: 355deg 49% 86%;
	--red-900: 343deg 54% 92%;
	--yellow-050: 28deg 26% 22%;
	--yellow-100: 33deg 39% 29%;
	--yellow-200: 34deg 46% 34%;
	--yellow-300: 35deg 52% 40%;
	--yellow-400: 35deg 57% 46%;
	--yellow-500: 36deg 67% 52%;
	--yellow-600: 36deg 65% 58%;
	--yellow-700: 29deg 64% 74%;
	--yellow-800: 25deg 57% 82%;
	--yellow-900: 36deg 63% 91%;
}

:root.high-contrast {
	--white: 0deg 0% 100%;
	--brand-primary-050: 222deg 87% 99%;
	--brand-primary-100: 227deg 81% 90%;
	--brand-primary-200: 231deg 67% 46%;
	--brand-primary-300: 230deg 68% 42%;
	--brand-primary-400: 231deg 69% 38%;
	--brand-primary-500: 231deg 71% 34%;
	--brand-primary-600: 230deg 74% 30%;
	--brand-primary-700: 231deg 77% 26%;
	--brand-primary-800: 230deg 81% 23%;
	--brand-primary-900: 230deg 89% 18%;
	--brand-secondary-050: 267deg 82% 99%;
	--brand-secondary-100: 264deg 77% 92%;
	--brand-secondary-200: 255deg 45% 51%;
	--brand-secondary-300: 256deg 44% 46%;
	--brand-secondary-400: 255deg 44% 41%;
	--brand-secondary-500: 255deg 45% 37%;
	--brand-secondary-600: 254deg 45% 33%;
	--brand-secondary-700: 255deg 45% 28%;
	--brand-secondary-800: 254deg 46% 24%;
	--brand-secondary-900: 253deg 47% 19%;
	--gray-050: 210deg 40% 99%;
	--gray-100: 215deg 32% 93%;
	--gray-200: 225deg 14% 43%;
	--gray-300: 225deg 14% 39%;
	--gray-400: 224deg 15% 35%;
	--gray-500: 227deg 15% 30%;
	--gray-600: 228deg 15% 26%;
	--gray-700: 227deg 16% 22%;
	--gray-800: 232deg 16% 18%;
	--gray-900: 231deg 19% 13%;
	--green-050: 144deg 100% 99%;
	--green-100: 142deg 100% 87%;
	--green-200: 162deg 77% 29%;
	--green-300: 163deg 77% 29%;
	--green-400: 162deg 91% 25%;
	--green-500: 163deg 100% 21%;
	--green-600: 165deg 100% 18%;
	--green-700: 165deg 100% 15%;
	--green-800: 169deg 100% 11%;
	--green-900: 170deg 100% 8%;
	--red-050: 345deg 100% 99%;
	--red-100: 355deg 79% 95%;
	--red-200: 2deg 53% 46%;
	--red-300: 2deg 54% 42%;
	--red-400: 1deg 55% 37%;
	--red-500: 359deg 57% 33%;
	--red-600: 357deg 62% 28%;
	--red-700: 355deg 68% 23%;
	--red-800: 352deg 78% 18%;
	--red-900: 348deg 97% 13%;
	--yellow-050: 60deg 52% 98%;
	--yellow-100: 46deg 64% 88%;
	--yellow-200: 39deg 51% 48%;
	--yellow-300: 38deg 53% 43%;
	--yellow-400: 37deg 55% 38%;
	--yellow-500: 36deg 57% 33%;
	--yellow-600: 34deg 62% 28%;
	--yellow-700: 32deg 68% 23%;
	--yellow-800: 31deg 77% 18%;
	--yellow-900: 28deg 94% 13%;
}

:root.dark.high-contrast {
	--white: 225deg 18% 9%;
	--brand-primary-050: 237deg 33% 18%;
	--brand-primary-100: 233deg 39% 31%;
	--brand-primary-200: 230deg 87% 79%;
	--brand-primary-300: 230deg 88% 81%;
	--brand-primary-400: 229deg 86% 83%;
	--brand-primary-500: 229deg 87% 85%;
	--brand-primary-600: 228deg 85% 87%;
	--brand-primary-700: 227deg 85% 89%;
	--brand-primary-800: 225deg 82% 91%;
	--brand-primary-900: 223deg 78% 93%;
	--brand-secondary-050: 250deg 36% 20%;
	--brand-secondary-100: 249deg 35% 28%;
	--brand-secondary-200: 256deg 51% 77%;
	--brand-secondary-300: 256deg 52% 79%;
	--brand-secondary-400: 257deg 53% 82%;
	--brand-secondary-500: 257deg 54% 84%;
	--brand-secondary-600: 258deg 58% 86%;
	--brand-secondary-700: 259deg 59% 88%;
	--brand-secondary-800: 259deg 63% 90%;
	--brand-secondary-900: 261deg 68% 93%;
	--gray-050: 231deg 20% 19%;
	--gray-100: 234deg 15% 25%;
	--gray-200: 225deg 9% 83%;
	--gray-300: 223deg 9% 85%;
	--gray-400: 220deg 10% 88%;
	--gray-500: 228deg 10% 90%;
	--gray-600: 225deg 11% 93%;
	--gray-700: 240deg 8% 95%;
	--gray-800: 240deg 9% 98%;
	--gray-900: 0deg 0% 100%;
	--green-050: 170deg 99% 11%;
	--green-100: 162deg 73% 23%;
	--green-200: 147deg 59% 71%;
	--green-300: 147deg 65% 74%;
	--green-400: 146deg 73% 77%;
	--green-500: 145deg 83% 80%;
	--green-600: 144deg 96% 82%;
	--green-700: 140deg 100% 86%;
	--green-800: 139deg 100% 89%;
	--green-900: 137deg 100% 93%;
	--red-050: 352deg 24% 16%;
	--red-100: 0deg 32% 27%;
	--red-200: 0deg 97% 77%;
	--red-300: 0deg 100% 80%;
	--red-400: 358deg 100% 82%;
	--red-500: 356deg 100% 84%;
	--red-600: 354deg 100% 87%;
	--red-700: 353deg 100% 89%;
	--red-800: 348deg 100% 91%;
	--red-900: 344deg 100% 93%;
	--yellow-050: 28deg 26% 18%;
	--yellow-100: 36deg 34% 29%;
	--yellow-200: 45deg 71% 69%;
	--yellow-300: 47deg 74% 71%;
	--yellow-400: 46deg 81% 73%;
	--yellow-500: 48deg 86% 75%;
	--yellow-600: 48deg 93% 77%;
	--yellow-700: 50deg 98% 78%;
	--yellow-800: 48deg 89% 81%;
	--yellow-900: 54deg 100% 84%;

	--button: 0deg 0% 0%;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-white text-gray-800;
	}
}
