@import url("./assets/fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white: 0deg 0% 100%;
	--brand-primary-050: 222deg 87% 97%;
	--brand-primary-100: 227deg 81% 90%;
	--brand-primary-200: 228deg 81% 82%;
	--brand-primary-300: 229deg 79% 74%;
	--brand-primary-400: 229deg 79% 66%;
	--brand-primary-500: 229deg 79% 57%;
	--brand-primary-600: 229deg 79% 57%;
	--brand-primary-700: 230deg 73% 37%;
	--brand-primary-800: 231deg 84% 26%;
	--brand-primary-900: 231deg 84% 26%;
	--brand-secondary-050: 267deg 82% 98%;
	--brand-secondary-100: 264deg 77% 92%;
	--brand-secondary-200: 259deg 78% 86%;
	--brand-secondary-300: 258deg 72% 76%;
	--brand-secondary-400: 257deg 65% 69%;
	--brand-secondary-500: 256deg 54% 58%;
	--brand-secondary-600: 255deg 45% 51%;
	--brand-secondary-700: 254deg 43% 40%;
	--brand-secondary-800: 253deg 44% 29%;
	--brand-secondary-900: 253deg 47% 19%;
	--gray-050: 210deg 40% 98%;
	--gray-100: 215deg 32% 93%;
	--gray-200: 217deg 30% 83%;
	--gray-300: 211deg 25% 74%;
	--gray-400: 221deg 20% 69%;
	--gray-500: 224deg 17% 53%;
	--gray-600: 225deg 14% 43%;
	--gray-700: 225deg 18% 31%;
	--gray-800: 225deg 19% 21%;
	--gray-900: 231deg 19% 13%;
	--red-050: 345deg 100% 98%;
	--red-100: 357deg 69% 90%;
	--red-200: 1deg 64% 81%;
	--red-300: 1deg 62% 72%;
	--red-400: 2deg 61% 64%;
	--red-500: 2deg 60% 55%;
	--red-600: 3deg 54% 46%;
	--red-700: 355deg 49% 37%;
	--red-800: 354deg 56% 26%;
	--red-900: 348deg 97% 13%;
	--yellow-050: 60deg 52% 95%;
	--yellow-100: 46deg 64% 88%;
	--yellow-200: 43deg 68% 81%;
	--yellow-300: 42deg 70% 73%;
	--yellow-400: 41deg 71% 65%;
	--yellow-500: 41deg 71% 60%;
	--yellow-600: 39deg 51% 48%;
	--yellow-700: 37deg 56% 37%;
	--yellow-800: 34deg 65% 25%;
	--yellow-900: 28deg 94% 13%;
	--green-050: 138deg 89% 96%;
	--green-100: 142deg 62% 89%;
	--green-200: 146deg 49% 78%;
	--green-300: 148deg 43% 66%;
	--green-400: 152deg 34% 56%;
	--green-500: 156deg 28% 47%;
	--green-600: 162deg 27% 38%;
	--green-700: 166deg 26% 30%;
	--green-800: 170deg 29% 20%;
	--green-900: 170deg 52% 9%;

	--background: 0 0% 100%;
	--foreground: 222.2 84% 4.9%;

	--muted: 210 40% 96.1%;
	--muted-foreground: 215.4 16.3% 46.9%;

	--popover: 0 0% 100%;
	--popover-foreground: 222.2 84% 4.9%;

	--card: 0 0% 100%;
	--card-foreground: 222.2 84% 4.9%;

	--border: var(--gray-200);

	--primary: 222.2 47.4% 11.2%;
	--primary-foreground: 210 40% 98%;

	--secondary: 210 40% 96.1%;
	--secondary-foreground: 222.2 47.4% 11.2%;

	--accent: 210 40% 96.1%;
	--accent-foreground: 222.2 47.4% 11.2%;

	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 210 40% 98%;

	--ring: var(--gray-400);

	--radius: 0.5rem;
}

:root.dark {
	--white: 240deg 19% 13%;
	--gray-050: 230deg 7% 64%;
	--gray-100: 234deg 15% 25%;
	--gray-200: 233deg 10% 35%;
	--gray-300: 233deg 7% 45%;
	--gray-400: 232deg 6% 55%;
	--gray-500: 230deg 7% 64%;
	--gray-600: 228deg 7% 74%;
	--gray-700: 225deg 9% 83%;
	--gray-800: 216deg 14% 93%;
	--gray-900: 0deg 0% 100%;
	--red-050: 353deg 24% 20%;
	--red-100: 0deg 32% 27%;
	--red-200: 3deg 39% 33%;
	--red-300: 3deg 44% 38%;
	--red-400: 4deg 48% 44%;
	--red-500: 5deg 51% 50%;
	--red-600: 4deg 49% 62%;
	--red-700: 0deg 47% 74%;
	--red-800: 355deg 49% 86%;
	--red-900: 343deg 54% 92%;
	--yellow-050: 28deg 26% 22%;
	--yellow-100: 36deg 34% 29%;
	--yellow-200: 39deg 39% 35%;
	--yellow-300: 41deg 43% 42%;
	--yellow-400: 42deg 45% 48%;
	--yellow-500: 43deg 55% 54%;
	--yellow-600: 44deg 56% 64%;
	--yellow-700: 46deg 56% 72%;
	--yellow-800: 48deg 57% 82%;
	--yellow-900: 54deg 63% 91%;
	--green-050: 170deg 17% 22%;
	--green-100: 161deg 11% 28%;
	--green-200: 155deg 14% 33%;
	--green-300: 154deg 16% 39%;
	--green-400: 152deg 17% 44%;
	--green-500: 151deg 19% 50%;
	--green-600: 149deg 21% 63%;
	--green-700: 147deg 25% 74%;
	--green-800: 142deg 32% 87%;
	--green-900: 138deg 52% 94%;
	--brand-primary-050: 237deg 33% 22%;
	--brand-primary-100: 233deg 39% 31%;
	--brand-primary-200: 233deg 41% 40%;
	--brand-primary-300: 232deg 44% 49%;
	--brand-primary-400: 231deg 60% 57%;
	--brand-primary-500: 231deg 88% 65%;
	--brand-primary-600: 231deg 87% 72%;
	--brand-primary-700: 230deg 87% 79%;
	--brand-primary-800: 228deg 84% 85%;
	--brand-primary-900: 223deg 78% 93%;
	--brand-secondary-050: 250deg 36% 24%;
	--brand-secondary-100: 249deg 35% 28%;
	--brand-secondary-200: 251deg 36% 35%;
	--brand-secondary-300: 253deg 36% 43%;
	--brand-secondary-400: 253deg 36% 50%;
	--brand-secondary-500: 253deg 47% 57%;
	--brand-secondary-600: 254deg 49% 67%;
	--brand-secondary-700: 256deg 51% 77%;
	--brand-secondary-800: 257deg 58% 87%;
	--brand-secondary-900: 261deg 68% 93%;

	--background: 222.2 84% 4.9%;
	--foreground: 210 40% 98%;

	--muted: 217.2 32.6% 17.5%;
	--muted-foreground: 215 20.2% 65.1%;

	--popover: 222.2 84% 4.9%;
	--popover-foreground: 210 40% 98%;

	--card: 222.2 84% 4.9%;
	--card-foreground: 210 40% 98%;

	--input: 217.2 32.6% 17.5%;

	--primary: 210 40% 98%;
	--primary-foreground: 222.2 47.4% 11.2%;

	--secondary: 217.2 32.6% 17.5%;
	--secondary-foreground: 210 40% 98%;

	--accent: 217.2 32.6% 17.5%;
	--accent-foreground: 210 40% 98%;

	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 85.7% 97.3%;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-white text-gray-800;
	}
}
