@import url("./assets/fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

	/**
	* Tailwind palette.
	* Not to be used directly. 
	* Can swap to HSL if needed, and/or drop in values directly to our palette in the future.
	*/
	
	--tw-black:  0 0% 0%;
	--tw-white:  0 0% 100%;
	--tw-slate-050:  210 40% 98%;
	--tw-slate-100:  210 40% 96.1%;
	--tw-slate-200:  214.3 31.8% 91.4%;
	--tw-slate-300:  212.7 26.8% 83.9%;
	--tw-slate-400:  215 20.2% 65.1%;
	--tw-slate-500:  215.4 16.3% 46.9%;
	--tw-slate-600:  215.3 19.3% 34.5%;
	--tw-slate-700:  215.3 25% 26.7%;
	--tw-slate-800:  217.2 32.6% 17.5%;
	--tw-slate-900:  222.2 47.4% 11.2%;
	--tw-slate-950:  228.6 84% 4.9%;
	--tw-gray-050:  210 20% 98%;
	--tw-gray-100:  220 14.3% 95.9%;
	--tw-gray-200:  220 13% 91%;
	--tw-gray-300:  216 12.2% 83.9%;
	--tw-gray-400:  217.9 10.6% 64.9%;
	--tw-gray-500:  220 8.9% 46.1%;
	--tw-gray-600:  215 13.8% 34.1%;
	--tw-gray-700:  216.9 19.1% 26.7%;
	--tw-gray-800:  215 27.9% 16.9%;
	--tw-gray-900:  220.9 39.3% 11%;
	--tw-gray-950:  224 71.4% 4.1%;
	--tw-zinc-050:  0 0% 98%;
	--tw-zinc-100:  240 4.8% 95.9%;
	--tw-zinc-200:  240 5.9% 90%;
	--tw-zinc-300:  240 4.9% 83.9%;
	--tw-zinc-400:  240 5% 64.9%;
	--tw-zinc-500:  240 3.8% 46.1%;
	--tw-zinc-600:  240 5.2% 33.9%;
	--tw-zinc-700:  240 5.3% 26.1%;
	--tw-zinc-800:  240 3.7% 15.9%;
	--tw-zinc-900:  240 5.9% 10%;
	--tw-zinc-950:  240 10% 3.9%;
	--tw-neutral-050:  0 0% 98%;
	--tw-neutral-100:  0 0% 96.1%;
	--tw-neutral-200:  0 0% 89.8%;
	--tw-neutral-300:  0 0% 83.1%;
	--tw-neutral-400:  0 0% 63.9%;
	--tw-neutral-500:  0 0% 45.1%;
	--tw-neutral-600:  0 0% 32.2%;
	--tw-neutral-700:  0 0% 25.1%;
	--tw-neutral-800:  0 0% 14.9%;
	--tw-neutral-900:  0 0% 9%;
	--tw-neutral-950:  0 0% 3.9%;
	--tw-stone-050:  60 9.1% 97.8%;
	--tw-stone-100:  60 4.8% 95.9%;
	--tw-stone-200:  20 5.9% 90%;
	--tw-stone-300:  24 5.7% 82.9%;
	--tw-stone-400:  24 5.4% 63.9%;
	--tw-stone-500:  25 5.3% 44.7%;
	--tw-stone-600:  33.3 5.5% 32.4%;
	--tw-stone-700:  30 6.3% 25.1%;
	--tw-stone-800:  12 6.5% 15.1%;
	--tw-stone-900:  24 9.8% 10%;
	--tw-stone-950:  20 14.3% 4.1%;
	--tw-red-050:  0 85.7% 97.3%;
	--tw-red-100:  0 93.3% 94.1%;
	--tw-red-200:  0 96.3% 89.4%;
	--tw-red-300:  0 93.5% 81.8%;
	--tw-red-400:  0 90.6% 70.8%;
	--tw-red-500:  0 84.2% 60.2%;
	--tw-red-600:  0 72.2% 50.6%;
	--tw-red-700:  0 73.7% 41.8%;
	--tw-red-800:  0 70% 35.3%;
	--tw-red-900:  0 62.8% 30.6%;
	--tw-red-950:  0 74.7% 15.5%;
	--tw-orange-050:  33.3 100% 96.5%;
	--tw-orange-100:  34.3 100% 91.8%;
	--tw-orange-200:  32.1 97.7% 83.1%;
	--tw-orange-300:  30.7 97.2% 72.4%;
	--tw-orange-400:  27 96% 61%;
	--tw-orange-500:  24.6 95% 53.1%;
	--tw-orange-600:  20.5 90.2% 48.2%;
	--tw-orange-700:  17.5 88.3% 40.4%;
	--tw-orange-800:  15 79.1% 33.7%;
	--tw-orange-900:  15.3 74.6% 27.8%;
	--tw-orange-950:  13 81.1% 14.5%;
	--tw-amber-050:  48 100% 96.1%;
	--tw-amber-100:  48 96.5% 88.8%;
	--tw-amber-200:  48 96.6% 76.7%;
	--tw-amber-300:  45.9 96.7% 64.5%;
	--tw-amber-400:  43.3 96.4% 56.3%;
	--tw-amber-500:  37.7 92.1% 50.2%;
	--tw-amber-600:  32.1 94.6% 43.7%;
	--tw-amber-700:  26 90.5% 37.1%;
	--tw-amber-800:  22.7 82.5% 31.4%;
	--tw-amber-900:  21.7 77.8% 26.5%;
	--tw-amber-950:  20.9 91.7% 14.1%;
	--tw-yellow-050:  54.5 91.7% 95.3%;
	--tw-yellow-100:  54.9 96.7% 88%;
	--tw-yellow-200:  52.8 98.3% 76.9%;
	--tw-yellow-300:  50.4 97.8% 63.5%;
	--tw-yellow-400:  47.9 95.8% 53.1%;
	--tw-yellow-500:  45.4 93.4% 47.5%;
	--tw-yellow-600:  40.6 96.1% 40.4%;
	--tw-yellow-700:  35.5 91.7% 32.9%;
	--tw-yellow-800:  31.8 81% 28.8%;
	--tw-yellow-900:  28.4 72.5% 25.7%;
	--tw-yellow-950:  26 83.3% 14.1%;
	--tw-lime-050:  78.3 92% 95.1%;
	--tw-lime-100:  79.6 89.1% 89.2%;
	--tw-lime-200:  80.9 88.5% 79.6%;
	--tw-lime-300:  82 84.5% 67.1%;
	--tw-lime-400:  82.7 78% 55.5%;
	--tw-lime-500:  83.7 80.5% 44.3%;
	--tw-lime-600:  84.8 85.2% 34.5%;
	--tw-lime-700:  85.9 78.4% 27.3%;
	--tw-lime-800:  86.3 69% 22.7%;
	--tw-lime-900:  87.6 61.2% 20.2%;
	--tw-lime-950:  89.3 80.4% 10%;
	--tw-green-050:  138.5 76.5% 96.7%;
	--tw-green-100:  140.6 84.2% 92.5%;
	--tw-green-200:  141 78.9% 85.1%;
	--tw-green-300:  141.7 76.6% 73.1%;
	--tw-green-400:  141.9 69.2% 58%;
	--tw-green-500:  142.1 70.6% 45.3%;
	--tw-green-600:  142.1 76.2% 36.3%;
	--tw-green-700:  142.4 71.8% 29.2%;
	--tw-green-800:  142.8 64.2% 24.1%;
	--tw-green-900:  143.8 61.2% 20.2%;
	--tw-green-950:  144.9 80.4% 10%;
	--tw-emerald-050:  151.8 81% 95.9%;
	--tw-emerald-100:  149.3 80.4% 90%;
	--tw-emerald-200:  152.4 76% 80.4%;
	--tw-emerald-300:  156.2 71.6% 66.9%;
	--tw-emerald-400:  158.1 64.4% 51.6%;
	--tw-emerald-500:  160.1 84.1% 39.4%;
	--tw-emerald-600:  161.4 93.5% 30.4%;
	--tw-emerald-700:  162.9 93.5% 24.3%;
	--tw-emerald-800:  163.1 88.1% 19.8%;
	--tw-emerald-900:  164.2 85.7% 16.5%;
	--tw-emerald-950:  165.7 91.3% 9%;
	--tw-teal-050:  166.2 76.5% 96.7%;
	--tw-teal-100:  167.2 85.5% 89.2%;
	--tw-teal-200:  168.4 83.8% 78.2%;
	--tw-teal-300:  170.6 76.9% 64.3%;
	--tw-teal-400:  172.5 66% 50.4%;
	--tw-teal-500:  173.4 80.4% 40%;
	--tw-teal-600:  174.7 83.9% 31.6%;
	--tw-teal-700:  175.3 77.4% 26.1%;
	--tw-teal-800:  176.1 69.4% 21.8%;
	--tw-teal-900:  175.9 60.8% 19%;
	--tw-teal-950:  178.6 84.3% 10%;
	--tw-cyan-050:  183.2 100% 96.3%;
	--tw-cyan-100:  185.1 95.9% 90.4%;
	--tw-cyan-200:  186.2 93.5% 81.8%;
	--tw-cyan-300:  187 92.4% 69%;
	--tw-cyan-400:  187.9 85.7% 53.3%;
	--tw-cyan-500:  188.7 94.5% 42.7%;
	--tw-cyan-600:  191.6 91.4% 36.5%;
	--tw-cyan-700:  192.9 82.3% 31%;
	--tw-cyan-800:  194.4 69.6% 27.1%;
	--tw-cyan-900:  196.4 63.6% 23.7%;
	--tw-cyan-950:  197 78.9% 14.9%;
	--tw-sky-050:  204 100% 97.1%;
	--tw-sky-100:  204 93.8% 93.7%;
	--tw-sky-200:  200.6 94.4% 86.1%;
	--tw-sky-300:  199.4 95.5% 73.9%;
	--tw-sky-400:  198.4 93.2% 59.6%;
	--tw-sky-500:  198.6 88.7% 48.4%;
	--tw-sky-600:  200.4 98% 39.4%;
	--tw-sky-700:  201.3 96.3% 32.2%;
	--tw-sky-800:  201 90% 27.5%;
	--tw-sky-900:  202 80.3% 23.9%;
	--tw-sky-950:  204 80.2% 15.9%;
	--tw-blue-050:  213.8 100% 96.9%;
	--tw-blue-100:  214.3 94.6% 92.7%;
	--tw-blue-200:  213.3 96.9% 87.3%;
	--tw-blue-300:  211.7 96.4% 78.4%;
	--tw-blue-400:  213.1 93.9% 67.8%;
	--tw-blue-500:  217.2 91.2% 59.8%;
	--tw-blue-600:  221.2 83.2% 53.3%;
	--tw-blue-700:  224.3 76.3% 48%;
	--tw-blue-800:  225.9 70.7% 40.2%;
	--tw-blue-900:  224.4 64.3% 32.9%;
	--tw-blue-950:  226.2 57% 21%;
	--tw-indigo-050:  225.9 100% 96.7%;
	--tw-indigo-100:  226.5 100% 93.9%;
	--tw-indigo-200:  228 96.5% 88.8%;
	--tw-indigo-300:  229.7 93.5% 81.8%;
	--tw-indigo-400:  234.5 89.5% 73.9%;
	--tw-indigo-500:  238.7 83.5% 66.7%;
	--tw-indigo-600:  243.4 75.4% 58.6%;
	--tw-indigo-700:  244.5 57.9% 50.6%;
	--tw-indigo-800:  243.7 54.5% 41.4%;
	--tw-indigo-900:  242.2 47.4% 34.3%;
	--tw-indigo-950:  243.8 47.1% 20%;
	--tw-violet-050:  250 100% 97.6%;
	--tw-violet-100:  251.4 91.3% 95.5%;
	--tw-violet-200:  250.5 95.2% 91.8%;
	--tw-violet-300:  252.5 94.7% 85.1%;
	--tw-violet-400:  255.1 91.7% 76.3%;
	--tw-violet-500:  258.3 89.5% 66.3%;
	--tw-violet-600:  262.1 83.3% 57.8%;
	--tw-violet-700:  263.4 70% 50.4%;
	--tw-violet-800:  263.4 69.3% 42.2%;
	--tw-violet-900:  263.5 67.4% 34.9%;
	--tw-violet-950:  261.2 72.6% 22.9%;
	--tw-purple-050:  270 100% 98%;
	--tw-purple-100:  268.7 100% 95.5%;
	--tw-purple-200:  268.6 100% 91.8%;
	--tw-purple-300:  269.2 97.4% 85.1%;
	--tw-purple-400:  270 95.2% 75.3%;
	--tw-purple-500:  270.7 91% 65.1%;
	--tw-purple-600:  271.5 81.3% 55.9%;
	--tw-purple-700:  272.1 71.7% 47.1%;
	--tw-purple-800:  272.9 67.2% 39.4%;
	--tw-purple-900:  273.6 65.6% 32%;
	--tw-purple-950:  273.5 86.9% 21%;
	--tw-fuchsia-050:  289.1 100% 97.8%;
	--tw-fuchsia-100:  287 100% 95.5%;
	--tw-fuchsia-200:  288.3 95.8% 90.6%;
	--tw-fuchsia-300:  291.1 93.1% 82.9%;
	--tw-fuchsia-400:  292 91.4% 72.5%;
	--tw-fuchsia-500:  292.2 84.1% 60.6%;
	--tw-fuchsia-600:  293.4 69.5% 48.8%;
	--tw-fuchsia-700:  294.7 72.4% 39.8%;
	--tw-fuchsia-800:  295.4 70.2% 32.9%;
	--tw-fuchsia-900:  296.7 63.6% 28%;
	--tw-fuchsia-950:  296.8 90.2% 16.1%;
	--tw-pink-050:  327.3 73.3% 97.1%;
	--tw-pink-100:  325.7 77.8% 94.7%;
	--tw-pink-200:  325.9 84.6% 89.8%;
	--tw-pink-300:  327.4 87.1% 81.8%;
	--tw-pink-400:  328.6 85.5% 70.2%;
	--tw-pink-500:  330.4 81.2% 60.4%;
	--tw-pink-600:  333.3 71.4% 50.6%;
	--tw-pink-700:  335.1 77.6% 42%;
	--tw-pink-800:  335.8 74.4% 35.3%;
	--tw-pink-900:  335.9 69% 30.4%;
	--tw-pink-950:  336.2 83.9% 17.1%;
	--tw-rose-050:  355.7 100% 97.3%;
	--tw-rose-100:  355.6 100% 94.7%;
	--tw-rose-200:  352.7 96.1% 90%;
	--tw-rose-300:  352.6 95.7% 81.8%;
	--tw-rose-400:  351.3 94.5% 71.4%;
	--tw-rose-500:  349.7 89.2% 60.2%;
	--tw-rose-600:  346.8 77.2% 49.8%;
	--tw-rose-700:  345.3 82.7% 40.8%;
	--tw-rose-800:  343.4 79.7% 34.7%;
	--tw-rose-900:  341.5 75.5% 30.4%;
	--tw-rose-950:  343.1 87.7% 15.9%;

	/* mantle palette */
	
	--black: var(--tw-black);
	--white: var(--tw-white);

	--gray-050: var(--tw-gray-050);
	--gray-100: var(--tw-gray-100);
	--gray-200: var(--tw-gray-200);
	--gray-300: var(--tw-gray-300);
	--gray-400: var(--tw-gray-400);
	--gray-500: var(--tw-gray-500);
	--gray-600: var(--tw-gray-600);
	--gray-700: var(--tw-gray-700);
	--gray-800: var(--tw-gray-800);
	--gray-900: var(--tw-gray-900);
	--gray-950: var(--tw-gray-950);

	--red-050: var(--tw-red-050);
	--red-100: var(--tw-red-100);
	--red-200: var(--tw-red-200);
	--red-300: var(--tw-red-300);
	--red-400: var(--tw-red-400);
	--red-500: var(--tw-red-500);
	--red-600: var(--tw-red-600);
	--red-700: var(--tw-red-700);
	--red-800: var(--tw-red-800);
	--red-900: var(--tw-red-900);
	--red-950: var(--tw-red-950);
	--orange-050: var(--tw-orange-050);
	--orange-100: var(--tw-orange-100);
	--orange-200: var(--tw-orange-200);
	--orange-300: var(--tw-orange-300);
	--orange-400: var(--tw-orange-400);
	--orange-500: var(--tw-orange-500);
	--orange-600: var(--tw-orange-600);
	--orange-700: var(--tw-orange-700);
	--orange-800: var(--tw-orange-800);
	--orange-900: var(--tw-orange-900);
	--orange-950: var(--tw-orange-950);
	--amber-050: var(--tw-amber-050);
	--amber-100: var(--tw-amber-100);
	--amber-200: var(--tw-amber-200);
	--amber-300: var(--tw-amber-300);
	--amber-400: var(--tw-amber-400);
	--amber-500: var(--tw-amber-500);
	--amber-600: var(--tw-amber-600);
	--amber-700: var(--tw-amber-700);
	--amber-800: var(--tw-amber-800);
	--amber-900: var(--tw-amber-900);
	--amber-950: var(--tw-amber-950);
	--yellow-050: var(--tw-yellow-050);
	--yellow-100: var(--tw-yellow-100);
	--yellow-200: var(--tw-yellow-200);
	--yellow-300: var(--tw-yellow-300);
	--yellow-400: var(--tw-yellow-400);
	--yellow-500: var(--tw-yellow-500);
	--yellow-600: var(--tw-yellow-600);
	--yellow-700: var(--tw-yellow-700);
	--yellow-800: var(--tw-yellow-800);
	--yellow-900: var(--tw-yellow-900);
	--yellow-950: var(--tw-yellow-950);
	--lime-050: var(--tw-lime-050);
	--lime-100: var(--tw-lime-100);
	--lime-200: var(--tw-lime-200);
	--lime-300: var(--tw-lime-300);
	--lime-400: var(--tw-lime-400);
	--lime-500: var(--tw-lime-500);
	--lime-600: var(--tw-lime-600);
	--lime-700: var(--tw-lime-700);
	--lime-800: var(--tw-lime-800);
	--lime-900: var(--tw-lime-900);
	--lime-950: var(--tw-lime-950);
	--green-050: var(--tw-green-050);
	--green-100: var(--tw-green-100);
	--green-200: var(--tw-green-200);
	--green-300: var(--tw-green-300);
	--green-400: var(--tw-green-400);
	--green-500: var(--tw-green-500);
	--green-600: var(--tw-green-600);
	--green-700: var(--tw-green-700);
	--green-800: var(--tw-green-800);
	--green-900: var(--tw-green-900);
	--green-950: var(--tw-green-950);
	--emerald-050: var(--tw-emerald-050);
	--emerald-100: var(--tw-emerald-100);
	--emerald-200: var(--tw-emerald-200);
	--emerald-300: var(--tw-emerald-300);
	--emerald-400: var(--tw-emerald-400);
	--emerald-500: var(--tw-emerald-500);
	--emerald-600: var(--tw-emerald-600);
	--emerald-700: var(--tw-emerald-700);
	--emerald-800: var(--tw-emerald-800);
	--emerald-900: var(--tw-emerald-900);
	--emerald-950: var(--tw-emerald-950);
	--teal-050: var(--tw-teal-050);
	--teal-100: var(--tw-teal-100);
	--teal-200: var(--tw-teal-200);
	--teal-300: var(--tw-teal-300);
	--teal-400: var(--tw-teal-400);
	--teal-500: var(--tw-teal-500);
	--teal-600: var(--tw-teal-600);
	--teal-700: var(--tw-teal-700);
	--teal-800: var(--tw-teal-800);
	--teal-900: var(--tw-teal-900);
	--teal-950: var(--tw-teal-950);
	--cyan-050: var(--tw-cyan-050);
	--cyan-100: var(--tw-cyan-100);
	--cyan-200: var(--tw-cyan-200);
	--cyan-300: var(--tw-cyan-300);
	--cyan-400: var(--tw-cyan-400);
	--cyan-500: var(--tw-cyan-500);
	--cyan-600: var(--tw-cyan-600);
	--cyan-700: var(--tw-cyan-700);
	--cyan-800: var(--tw-cyan-800);
	--cyan-900: var(--tw-cyan-900);
	--cyan-950: var(--tw-cyan-950);
	--sky-050: var(--tw-sky-050);
	--sky-100: var(--tw-sky-100);
	--sky-200: var(--tw-sky-200);
	--sky-300: var(--tw-sky-300);
	--sky-400: var(--tw-sky-400);
	--sky-500: var(--tw-sky-500);
	--sky-600: var(--tw-sky-600);
	--sky-700: var(--tw-sky-700);
	--sky-800: var(--tw-sky-800);
	--sky-900: var(--tw-sky-900);
	--sky-950: var(--tw-sky-950);
	--blue-050: var(--tw-blue-050);
	--blue-100: var(--tw-blue-100);
	--blue-200: var(--tw-blue-200);
	--blue-300: var(--tw-blue-300);
	--blue-400: var(--tw-blue-400);
	--blue-500: var(--tw-blue-500);
	--blue-600: var(--tw-blue-600);
	--blue-700: var(--tw-blue-700);
	--blue-800: var(--tw-blue-800);
	--blue-900: var(--tw-blue-900);
	--blue-950: var(--tw-blue-950);
	--indigo-050: var(--tw-indigo-050);
	--indigo-100: var(--tw-indigo-100);
	--indigo-200: var(--tw-indigo-200);
	--indigo-300: var(--tw-indigo-300);
	--indigo-400: var(--tw-indigo-400);
	--indigo-500: var(--tw-indigo-500);
	--indigo-600: var(--tw-indigo-600);
	--indigo-700: var(--tw-indigo-700);
	--indigo-800: var(--tw-indigo-800);
	--indigo-900: var(--tw-indigo-900);
	--indigo-950: var(--tw-indigo-950);
	--violet-050: var(--tw-violet-050);
	--violet-100: var(--tw-violet-100);
	--violet-200: var(--tw-violet-200);
	--violet-300: var(--tw-violet-300);
	--violet-400: var(--tw-violet-400);
	--violet-500: var(--tw-violet-500);
	--violet-600: var(--tw-violet-600);
	--violet-700: var(--tw-violet-700);
	--violet-800: var(--tw-violet-800);
	--violet-900: var(--tw-violet-900);
	--violet-950: var(--tw-violet-950);
	--purple-050: var(--tw-purple-050);
	--purple-100: var(--tw-purple-100);
	--purple-200: var(--tw-purple-200);
	--purple-300: var(--tw-purple-300);
	--purple-400: var(--tw-purple-400);
	--purple-500: var(--tw-purple-500);
	--purple-600: var(--tw-purple-600);
	--purple-700: var(--tw-purple-700);
	--purple-800: var(--tw-purple-800);
	--purple-900: var(--tw-purple-900);
	--purple-950: var(--tw-purple-950);
	--fuchsia-050: var(--tw-fuchsia-050);
	--fuchsia-100: var(--tw-fuchsia-100);
	--fuchsia-200: var(--tw-fuchsia-200);
	--fuchsia-300: var(--tw-fuchsia-300);
	--fuchsia-400: var(--tw-fuchsia-400);
	--fuchsia-500: var(--tw-fuchsia-500);
	--fuchsia-600: var(--tw-fuchsia-600);
	--fuchsia-700: var(--tw-fuchsia-700);
	--fuchsia-800: var(--tw-fuchsia-800);
	--fuchsia-900: var(--tw-fuchsia-900);
	--fuchsia-950: var(--tw-fuchsia-950);
	--pink-050: var(--tw-pink-050);
	--pink-100: var(--tw-pink-100);
	--pink-200: var(--tw-pink-200);
	--pink-300: var(--tw-pink-300);
	--pink-400: var(--tw-pink-400);
	--pink-500: var(--tw-pink-500);
	--pink-600: var(--tw-pink-600);
	--pink-700: var(--tw-pink-700);
	--pink-800: var(--tw-pink-800);
	--pink-900: var(--tw-pink-900);
	--pink-950: var(--tw-pink-950);
	--rose-050: var(--tw-rose-050);
	--rose-100: var(--tw-rose-100);
	--rose-200: var(--tw-rose-200);
	--rose-300: var(--tw-rose-300);
	--rose-400: var(--tw-rose-400);
	--rose-500: var(--tw-rose-500);
	--rose-600: var(--tw-rose-600);
	--rose-700: var(--tw-rose-700);
	--rose-800: var(--tw-rose-800);
	--rose-900: var(--tw-rose-900);
	--rose-950: var(--tw-rose-950);

	/* Mantle functional palette */

	--brand-primary-050: var(--blue-050);
	--brand-primary-100: var(--blue-100);
	--brand-primary-200: var(--blue-200);
	--brand-primary-300: var(--blue-300);
	--brand-primary-400: var(--blue-400);
	--brand-primary-500: var(--blue-500);
	--brand-primary-600: var(--blue-600);
	--brand-primary-700: var(--blue-700);
	--brand-primary-800: var(--blue-800);
	--brand-primary-900: var(--blue-900);
	--brand-primary-950: var(--blue-950);
	--brand-secondary-050: var(--indigo-050);
	--brand-secondary-100: var(--indigo-100);
	--brand-secondary-200: var(--indigo-200);
	--brand-secondary-300: var(--indigo-300);
	--brand-secondary-400: var(--indigo-400);
	--brand-secondary-500: var(--indigo-500);
	--brand-secondary-600: var(--indigo-600);
	--brand-secondary-700: var(--indigo-700);
	--brand-secondary-800: var(--indigo-800);
	--brand-secondary-900: var(--indigo-900);
	--brand-secondary-950: var(--indigo-950);
	--info-050: var(--sky-050);
	--info-100: var(--sky-100);
	--info-200: var(--sky-200);
	--info-300: var(--sky-300);
	--info-400: var(--sky-400);
	--info-500: var(--sky-500);
	--info-600: var(--sky-600);
	--info-700: var(--sky-700);
	--info-800: var(--sky-800);
	--info-900: var(--sky-900);
	--info-950: var(--sky-950);
	--success-050: var(--green-050);
	--success-100: var(--green-100);
	--success-200: var(--green-200);
	--success-300: var(--green-300);
	--success-400: var(--green-400);
	--success-500: var(--green-500);
	--success-600: var(--green-600);
	--success-700: var(--green-700);
	--success-800: var(--green-800);
	--success-900: var(--green-900);
	--success-950: var(--green-950);
	--danger-050: var(--red-050);
	--danger-100: var(--red-100);
	--danger-200: var(--red-200);
	--danger-300: var(--red-300);
	--danger-400: var(--red-400);
	--danger-500: var(--red-500);
	--danger-600: var(--red-600);
	--danger-700: var(--red-700);
	--danger-800: var(--red-800);
	--danger-900: var(--red-900);
	--danger-950: var(--red-950);
	--warning-050: var(--amber-050);
	--warning-100: var(--amber-100);
	--warning-200: var(--amber-200);
	--warning-300: var(--amber-300);
	--warning-400: var(--amber-400);
	--warning-500: var(--amber-500);
	--warning-600: var(--amber-600);
	--warning-700: var(--amber-700);
	--warning-800: var(--amber-800);
	--warning-900: var(--amber-900);
	--warning-950: var(--amber-950);

	--button: 0deg 0% 100%;
	--border: var(--gray-200);
	--radius: 0.5rem;
	--background: var(--gray-050);
	--foreground: var(--white);
	--popover: 0 0% 100%;
	--popover-foreground: 222.2 84% 4.9%;
}

:root.dark {

	/* mantle palette (dark) */

	--white: var(--black);
	--black: var(--white);
	
	--gray-050: var(--gray-950);
	--gray-100: var(--gray-900);
	--gray-200: var(--gray-800);
	--gray-300: var(--gray-700);
	--gray-400: var(--gray-600);
	--gray-500: var(--gray-500);
	--gray-600: var(--gray-400);
	--gray-700: var(--gray-300);
	--gray-800: var(--gray-200);
	--gray-900: var(--gray-100);
	--gray-950: var(--gray-050);
	--red-050: var(--red-950);
	--red-100: var(--red-900);
	--red-200: var(--red-800);
	--red-300: var(--red-700);
	--red-400: var(--red-600);
	--red-500: var(--red-500);
	--red-600: var(--red-400);
	--red-700: var(--red-300);
	--red-800: var(--red-200);
	--red-900: var(--red-100);
	--red-950: var(--red-050);
	--orange-050: var(--orange-950);
	--orange-100: var(--orange-900);
	--orange-200: var(--orange-800);
	--orange-300: var(--orange-700);
	--orange-400: var(--orange-600);
	--orange-500: var(--orange-500);
	--orange-600: var(--orange-400);
	--orange-700: var(--orange-300);
	--orange-800: var(--orange-200);
	--orange-900: var(--orange-100);
	--orange-950: var(--orange-050);
	--amber-050: var(--amber-950);
	--amber-100: var(--amber-900);
	--amber-200: var(--amber-800);
	--amber-300: var(--amber-700);
	--amber-400: var(--amber-600);
	--amber-500: var(--amber-500);
	--amber-600: var(--amber-400);
	--amber-700: var(--amber-300);
	--amber-800: var(--amber-200);
	--amber-900: var(--amber-100);
	--amber-950: var(--amber-050);
	--yellow-050: var(--yellow-950);
	--yellow-100: var(--yellow-900);
	--yellow-200: var(--yellow-800);
	--yellow-300: var(--yellow-700);
	--yellow-400: var(--yellow-600);
	--yellow-500: var(--yellow-500);
	--yellow-600: var(--yellow-400);
	--yellow-700: var(--yellow-300);
	--yellow-800: var(--yellow-200);
	--yellow-900: var(--yellow-100);
	--yellow-950: var(--yellow-050);
	--lime-050: var(--lime-950);
	--lime-100: var(--lime-900);
	--lime-200: var(--lime-800);
	--lime-300: var(--lime-700);
	--lime-400: var(--lime-600);
	--lime-500: var(--lime-500);
	--lime-600: var(--lime-400);
	--lime-700: var(--lime-300);
	--lime-800: var(--lime-200);
	--lime-900: var(--lime-100);
	--lime-950: var(--lime-050);
	--green-050: var(--green-950);
	--green-100: var(--green-900);
	--green-200: var(--green-800);
	--green-300: var(--green-700);
	--green-400: var(--green-600);
	--green-500: var(--green-500);
	--green-600: var(--green-400);
	--green-700: var(--green-300);
	--green-800: var(--green-200);
	--green-900: var(--green-100);
	--green-950: var(--green-050);
	--teal-050: var(--teal-950);
	--teal-100: var(--teal-900);
	--teal-200: var(--teal-800);
	--teal-300: var(--teal-700);
	--teal-400: var(--teal-600);
	--teal-500: var(--teal-500);
	--teal-600: var(--teal-400);
	--teal-700: var(--teal-300);
	--teal-800: var(--teal-200);
	--teal-900: var(--teal-100);
	--teal-950: var(--teal-050);
	--cyan-050: var(--cyan-950);
	--cyan-100: var(--cyan-900);
	--cyan-200: var(--cyan-800);
	--cyan-300: var(--cyan-700);
	--cyan-400: var(--cyan-600);
	--cyan-500: var(--cyan-500);
	--cyan-600: var(--cyan-400);
	--cyan-700: var(--cyan-300);
	--cyan-800: var(--cyan-200);
	--cyan-900: var(--cyan-100);
	--cyan-950: var(--cyan-050);
	--sky-050: var(--sky-950);
	--sky-100: var(--sky-900);
	--sky-200: var(--sky-800);
	--sky-300: var(--sky-700);
	--sky-400: var(--sky-600);
	--sky-500: var(--sky-500);
	--sky-600: var(--sky-400);
	--sky-700: var(--sky-300);
	--sky-800: var(--sky-200);
	--sky-900: var(--sky-100);
	--sky-950: var(--sky-050);
	--blue-050: var(--blue-950);
	--blue-100: var(--blue-900);
	--blue-200: var(--blue-800);
	--blue-300: var(--blue-700);
	--blue-400: var(--blue-600);
	--blue-500: var(--blue-500);
	--blue-600: var(--blue-400);
	--blue-700: var(--blue-300);
	--blue-800: var(--blue-200);
	--blue-900: var(--blue-100);
	--blue-950: var(--blue-050);
	--indigo-050: var(--indigo-950);
	--indigo-100: var(--indigo-900);
	--indigo-200: var(--indigo-800);
	--indigo-300: var(--indigo-700);
	--indigo-400: var(--indigo-600);
	--indigo-500: var(--indigo-500);
	--indigo-600: var(--indigo-400);
	--indigo-700: var(--indigo-300);
	--indigo-800: var(--indigo-200);
	--indigo-900: var(--indigo-100);
	--indigo-950: var(--indigo-050);
	--violet-050: var(--violet-950);
	--violet-100: var(--violet-900);
	--violet-200: var(--violet-800);
	--violet-300: var(--violet-700);
	--violet-400: var(--violet-600);
	--violet-500: var(--violet-500);
	--violet-600: var(--violet-400);
	--violet-700: var(--violet-300);
	--violet-800: var(--violet-200);
	--violet-900: var(--violet-100);
	--violet-950: var(--violet-050);
	--purple-050: var(--purple-950);
	--purple-100: var(--purple-900);
	--purple-200: var(--purple-800);
	--purple-300: var(--purple-700);
	--purple-400: var(--purple-600);
	--purple-500: var(--purple-500);
	--purple-600: var(--purple-400);
	--purple-700: var(--purple-300);
	--purple-800: var(--purple-200);
	--purple-900: var(--purple-100);
	--purple-950: var(--purple-050);
	--fuchsia-050: var(--fuchsia-950);
	--fuchsia-100: var(--fuchsia-900);
	--fuchsia-200: var(--fuchsia-800);
	--fuchsia-300: var(--fuchsia-700);
	--fuchsia-400: var(--fuchsia-600);
	--fuchsia-500: var(--fuchsia-500);
	--fuchsia-600: var(--fuchsia-400);
	--fuchsia-700: var(--fuchsia-300);
	--fuchsia-800: var(--fuchsia-200);
	--fuchsia-900: var(--fuchsia-100);
	--fuchsia-950: var(--fuchsia-050);
	--pink-050: var(--pink-950);
	--pink-100: var(--pink-900);
	--pink-200: var(--pink-800);
	--pink-300: var(--pink-700);
	--pink-400: var(--pink-600);
	--pink-500: var(--pink-500);
	--pink-600: var(--pink-400);
	--pink-700: var(--pink-300);
	--pink-800: var(--pink-200);
	--pink-900: var(--pink-100);
	--pink-950: var(--pink-050);
	--rose-050: var(--rose-950);
	--rose-100: var(--rose-900);
	--rose-200: var(--rose-800);
	--rose-300: var(--rose-700);
	--rose-400: var(--rose-600);
	--rose-500: var(--rose-500);
	--rose-600: var(--rose-400);
	--rose-700: var(--rose-300);
	--rose-800: var(--rose-200);
	--rose-900: var(--rose-100);
	--rose-950: var(--rose-050);

	/* Mantle functional palette (dark) */

	--brand-primary-050: var(--brand-primary-950);
	--brand-primary-100: var(--brand-primary-900);
	--brand-primary-200: var(--brand-primary-800);
	--brand-primary-300: var(--brand-primary-700);
	--brand-primary-400: var(--brand-primary-600);
	--brand-primary-500: var(--brand-primary-500);
	--brand-primary-600: var(--brand-primary-400);
	--brand-primary-700: var(--brand-primary-300);
	--brand-primary-800: var(--brand-primary-200);
	--brand-primary-900: var(--brand-primary-100);
	--brand-primary-950: var(--brand-primary-050);
	--brand-secondary-050: var(--brand-secondary-950);
	--brand-secondary-100: var(--brand-secondary-900);
	--brand-secondary-200: var(--brand-secondary-800);
	--brand-secondary-300: var(--brand-secondary-700);
	--brand-secondary-400: var(--brand-secondary-600);
	--brand-secondary-500: var(--brand-secondary-500);
	--brand-secondary-600: var(--brand-secondary-400);
	--brand-secondary-700: var(--brand-secondary-300);
	--brand-secondary-800: var(--brand-secondary-200);
	--brand-secondary-900: var(--brand-secondary-100);
	--brand-secondary-950: var(--brand-secondary-050);
	--info-050: var(--info-950);
	--info-100: var(--info-900);
	--info-200: var(--info-800);
	--info-300: var(--info-700);
	--info-400: var(--info-600);
	--info-500: var(--info-500);
	--info-600: var(--info-400);
	--info-700: var(--info-300);
	--info-800: var(--info-200);
	--info-900: var(--info-100);
	--info-950: var(--info-050);
	--success-050: var(--success-950);
	--success-100: var(--success-900);
	--success-200: var(--success-800);
	--success-300: var(--success-700);
	--success-400: var(--success-600);
	--success-500: var(--success-500);
	--success-600: var(--success-400);
	--success-700: var(--success-300);
	--success-800: var(--success-200);
	--success-900: var(--success-100);
	--success-950: var(--success-050);
	--danger-050: var(--danger-950);
	--danger-100: var(--danger-900);
	--danger-200: var(--danger-800);
	--danger-300: var(--danger-700);
	--danger-400: var(--danger-600);
	--danger-500: var(--danger-500);
	--danger-600: var(--danger-400);
	--danger-700: var(--danger-300);
	--danger-800: var(--danger-200);
	--danger-900: var(--danger-100);
	--danger-950: var(--danger-050);
	--warning-050: var(--warning-950);
	--warning-100: var(--warning-900);
	--warning-200: var(--warning-800);
	--warning-300: var(--warning-700);
	--warning-400: var(--warning-600);
	--warning-500: var(--warning-500);
	--warning-600: var(--warning-400);
	--warning-700: var(--warning-300);
	--warning-800: var(--warning-200);
	--warning-900: var(--warning-100);
	--warning-950: var(--warning-050);

	--background: var(--white);
	--foreground: var(--gray-050);
	--popover: 222.2 84% 4.9%;
	--popover-foreground: 210 40% 98%;
}

/**
	* prism.js default theme for JavaScript, CSS and HTML
	* Based on dabblet (http://dabblet.com)
	* @author Lea Verou
	*/

pre.prismjs,
pre.prismjs code {
	@apply bg-background text-sm text-gray-800;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre.prismjs {
	@apply overflow-auto rounded-lg border border-gray-200 p-4;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: hsl(var(--gray-500));
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: hsl(var(--brand-secondary-600));
}

.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: hsl(var(--green-600));
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: hsl(var(--green-600));
}

.token.selector,
.token.atrule,
.token.attr-value,
.token.keyword {
	color: hsl(var(--brand-primary-500));
}

.token.function,
.token.class-name {
	color: hsl(var(--yellow-600));
}

.token.regex,
.token.important,
.token.variable {
	color: hsl(var(--green-600));
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

@layer base {
	body {
		@apply bg-white text-gray-800;
	}
}
